//------------------------------------------------------------
// = BUTTON
//------------------------------------------------------------
.button-reset {
  border: none;
  background: none;
  padding: 0;
  outline: none;
}

.button-base {
  position: relative;

  display: inline-block;
  vertical-align: top;
  padding: 15px 30px;
  min-width: 180px;

  font-size: 16px;
  font-weight: var(--medium);
  text-align: center;

  border: none;
  border-radius: var(--radius);
  overflow: hidden;
  box-shadow: var(--shadow-2);

  transition: var(--transition);
  will-change: transform;
  backface-visibility: hidden;
  white-space: nowrap;
  transform-origin: 50% 50%;
  @include media-breakpoint-down(sm) {
    padding: 15px;
  }

  &:hover, &:focus {
    box-shadow: var(--shadow-2-hover);
    transform: scale(1.01) translate3d(0, 0, 0);
  }

  &:active {
    transform: scale(0.99) translate3d(0, 0, 0);
  }

  &.disabled, &:disabled {
    cursor: default !important;
  }

  &.button-block {
    display: block;
    width: 100%;
  }

  &.button-sm {
    font-size: 14px;
    padding: 10px 30px;
    min-width: 0;
  }
  &.button-xs {
    padding: 5px 10px;
    min-width: 0;
    font-size: 13px;
  }

  svg{
    width: 16px;
    height: 16px;
  }
}

.button-group {
  margin-left: -15px;
  margin-right: -15px;
  @include media-breakpoint-down(sm) {
    margin-left: -5px;
    margin-right: -5px;
  }

  > a, button {
    margin: 0 15px;
    @include media-breakpoint-down(sm) {
      margin: 10px 5px;
    }
  }
}


// General Buttons
.button-1 {
  @extend .button-base;
  color: var(--color-white);
  background-color: var(--color-black);

  &:hover, &:focus {
    color: var(--color-white);
    background-color: var(--color-black);
  }
}

.button-2 {
  @extend .button-base;
  color: var(--color-primary);
  background-color: var(--color-white);

  &:hover, &:focus {
    color: var(--color-primary);
    background-color: var(--color-white);
  }
}

// General Link
.link-1 {
  @extend %fs20;
  position: relative;
  color: var(--color-paragraph-pale);

  &:hover {
    color: var(--color-paragraph-alternate);
  }
}

// Other Buttons
.button-theme {
  @extend .button-reset;
  text-transform: capitalize;
}

.button-nav {
  @extend .button-reset;
  svg {
    rect, path {
      fill: var(--color-paragraph);
    }
  }

  &:hover {
    svg {
      rect, path {
        fill: var(--color-primary);
      }
    }
  }
}

.button-search {
  @extend .button-reset;
  svg {
    path {
      fill: var(--color-paragraph);
    }
  }

  &:hover {
    svg {
      path {
        fill: var(--color-primary);
      }
    }
  }
}