{% for post in postslist | reverse %}
  <div class="post-card">
    <time class="post-card__date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate }}</time>
    <h2 class="post-card__title">
      <a href="{{ post.url | url }}">
        {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
      </a>
    </h2>
    {% if post.data.description %} <p class="post-card__description">{{ post.data.description }}</p> {% endif %}
    <a class="post-card__cta" href="{{ post.url | url }}">Read article</a>
  </div>
{% endfor %}
