{% for work in workslist | reverse %}
  <div class="works__item">
    <figure class="works__figure" style="--figure-color-r:{{ work.data.bgcolor[0] }}; --figure-color-g:{{ work.data.bgcolor[1] }}; --figure-color-b:{{ work.data.bgcolor[2] }};">
      <a href="{{ work.url | url }}">
        <picture>
          <source srcset="{{metadata.assets.img}}works/{{ work.data.picture }}.webp" type="image/webp">
          <img src="{{metadata.assets.img}}works/{{ work.data.picture }}.jpg" width="795" height="566" alt="{{ work.data.title }}" loading="lazy">
        </picture>
      </a>
    </figure>
    <div class="works__meta">
      <header class="works__header">
        <div class="works__title">{{ work.data.title }}</div>
        {%- if work.data.url %}
        <a class="works__link" href="{{ work.data.url }}">Visit</a>
        {%  else %}
        <span class="works__link disabled" aria-disabled="true">No Demo</span>
        {% endif %}
      </header>
      <p class="works__description">{{ work.data.description }}</p>
    </div>
  </div>
{% endfor %}




