@import "00_config/font";
@import "00_config/reset";
@import "00_config/media-quaries";
@import "00_config/theme";

@import "01_base/helper";
@import "01_base/button";
@import "01_base/layout";

@import "02_component/header";
@import "02_component/nav";
@import "02_component/footer";

@import "02_component/hero";
@import "02_component/post-card";
@import "02_component/clients";
@import "02_component/skill-card";
@import "02_component/works";
@import "02_component/gallery";

.anim-skeleton{
  position: absolute;
  z-index: -1;
  left: 0;
  top: calc(-1 * (var(--layout-gap) * 2.25));
  .left-eye, .right-eye{
    position: absolute;
    width: 5px;
    height: 5px;
    background: #ffbebe;
    border-radius: 50%;
    animation: skullEye 1.8s infinite;
  }
  .left-eye{
    top: 145px;
    right: 59px;
  }
  .right-eye{
    top: 160px;
    right: 22px;
  }
}

@keyframes skullEye {
  0%,100% {
    box-shadow: 0 0 5px 10px #da0d0d;
  }
  50% {
    box-shadow: 0 0 5px 5px #980d0d;
  }
}
