  <div class="section">
  <div class="container">
    <div class="section-inner">
      <header class="section-header">
        <h3 class="section-title">Clients</h3>
        <p class="section-description">I’ve worked with great brands as a freelancer & agency employee.</p>
      </header>
      <ul class="clients">
        <li class="clients__item"><img src="{{metadata.assets.img}}client/akbank.png" alt="Akbank" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/akcelik.png" alt="Akcelik" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/denge.png" alt="Denge Bilgisayar" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/efinans.png" alt="eFinans" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/gedik.png" alt="Gedik Yatirim" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/lcwaikiki.png" alt="LC Waikiki" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/makrobet.png" alt="Makrobet" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/nkolay.png" alt="N Kolay" width="128" height="128" loading="lazy"></li>
        <li class="clients__item"><img src="{{metadata.assets.img}}client/sodexo.png" alt="Sodexo" width="128" height="128" loading="lazy"></li>
      </ul>
    </div>
  </div>
</div>
