<div class="section section-boxed">
  <div class="container">
    <div class="section-inner">
      <article class="article">
        <div class="article__content text-center">
          <p>Like what you read and think your next project could benefit from my skill set? Get in touch. Let’s build something great together!</p>
          <a href="mailto:{{ metadata.author.email }}" class="button-2 button-lg button-block">Hire Me</a>
        </div>
      </article>
    </div>
  </div>
</div>
