<div class="section">
  <div class="container">
    <div class="works works-featured">
      {% set workslist = collections.works | head(-4) %}
      {% set workslistCounter = collections.works | length %}
      {% include "workcard.njk" %}
    </div>
    <div class="section-footer">
      <a href="{{ '/works/' | url }}" class="button-1">Show All Works</a>
    </div>
  </div>
</div>
