<footer class="footer">
  <div class="container">
    <div class="inner">
      <h2 class="footer__title">Deep Dive Into Pages</h2>
      <nav class="nav-footer" aria-label="Secondary navigation">
        <ul class="nav-footer__list">
          {%- for entry in collections.all | eleventyNavigation %}
            <li class="nav-footer__item{% if entry.url == page.url %} nav-footer__item--active{% endif %}">
              <a href="{{ entry.url | url }}">{{ entry.title }}</a>
              <span>{{ entry.excerpt }}</span>
            </li>
          {%- endfor %}
          <li class="nav-footer__item">
            <a href="{{ metadata.social.instagram }}" target="_blank" rel="noreferrer">Instagram</a>
            <span>Good memories, best times. My photo journal.</span>
          </li>
        </ul>
      </nav>
      <div class="copyright">
        &copy; {{ metadata.year }} {{ author.name or metadata.author.name }} <a href="/sitemap.xml">Sitemap</a>.<br>
        Powered by <a href="https://www.11ty.dev/" target="_blank" rel="noreferrer">Eleventy</a>, <a href="https://www.netlify.com/" target="_blank" rel="noreferrer">Netlify</a>, and <a href="{{ metadata.repo }}" target="_blank" rel="noreferrer">GitHub</a>.
      </div>
    </div>
  </div>
</footer>
