<div class="section">
  <div class="gallery" id="gallery">
    <figure class="gallery__item">
      <picture>
        <source srcset="{{metadata.assets.img}}layout/instagram-1.webp" type="image/webp">
        <source srcset="{{metadata.assets.img}}layout/instagram-1.jpg" type="image/jpeg">
        <img src="{{metadata.assets.img}}layout/instagram-1.jpg" alt="Photo of Yasin" loading="lazy">
      </picture>
    </figure>
    <figure class="gallery__item">
      <picture>
        <source srcset="{{metadata.assets.img}}layout/instagram-2.webp" type="image/webp">
        <source srcset="{{metadata.assets.img}}layout/instagram-2.jpg" type="image/jpeg">
        <img src="{{metadata.assets.img}}layout/instagram-2.jpg" alt="Photo of Yasin" loading="lazy">
      </picture>
    </figure>
    <figure class="gallery__item">
      <picture>
        <source srcset="{{metadata.assets.img}}layout/instagram-3.webp" type="image/webp">
        <source srcset="{{metadata.assets.img}}layout/instagram-3.jpg" type="image/jpeg">
        <img src="{{metadata.assets.img}}layout/instagram-3.jpg" alt="Photo of Yasin" loading="lazy">
      </picture>
    </figure>
  </div>
  <div class="container">
    <div class="gallery-cta">Instagram: <a href="{{ metadata.social.instagram }}" target="_blank" rel="noreferrer">@yasingencnet</a></div>
  </div>
</div>
