<header class="header">
  <div class="container">
    {% include "components/logo.njk" %}
    <nav class="nav" id="js-primary-nav" aria-label="Primary navigation">
      <ul class="nav__list">
        <li class="nav__item"><a href="/works">Works</a></li>
        <li class="nav__item"><a href="/about">About</a></li>
        <li class="nav__item"><a href="/blog">Blog</a></li>
        <li class="nav__item"><a href="/travel">Travel</a></li>
        <!-- {%- for entry in collections.all | eleventyNavigation | head(5) %}
          <li class="nav__item{% if entry.url == page.url %} nav__item--active{% endif %}"><a href="{{ entry.url | url }}">{{ entry.title }}</a></li>
        {%- endfor %} -->
      </ul>
    </nav>
    <div class="button-group">
      <a href="/contact" class="header-cta button-1">Contact</a>
      <button type="button" class="button-nav" id="js-primary-button">
            <span class="button-inner">
                <span>MENU</span>
                <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <path d="M15.375 7H0.625C0.279813 7 0 7.4477 0 8C0 8.5523 0.279813 9 0.625 9H15.375C15.7202 9 16 8.5523 16 8C16 7.4477 15.7202 7 15.375 7Z" fill="black"/>
                  <path d="M15.375 2H0.625C0.279813 2 0 2.4477 0 3C0 3.5523 0.279813 4 0.625 4H15.375C15.7202 4 16 3.5523 16 3C16 2.4477 15.7202 2 15.375 2Z" fill="black"/>
                  <path d="M15.375 12H0.625C0.279813 12 0 12.4477 0 13C0 13.5523 0.279813 14 0.625 14H15.375C15.7202 14 16 13.5523 16 13C16 12.4477 15.7202 12 15.375 12Z" fill="black"/>
                </svg>
            </span>
      </button>
    </div>
  </div>
</header>
