<div class="photo-grid">
  <figure>
    <picture>
      <source srcset="{{metadata.assets.img}}layout/4.webp" type="image/webp">
      <img src="{{metadata.assets.img}}layout/4.jpg" alt="A photo of Yasin with statue at Gasova Lampa, Lviv" width="680" height="907" loading="lazy">
    </picture>
  </figure>
  <figure >
    <picture>
      <source srcset="{{metadata.assets.img}}layout/1.webp" type="image/webp">
      <img src="{{metadata.assets.img}}layout/1.jpg" alt="A weird looking photo of Yasin" width="640" height="853" loading="lazy">
    </picture>
  </figure>
  <figure>
    <picture>
      <source srcset="{{metadata.assets.img}}layout/3.webp" type="image/webp">
      <img src="{{metadata.assets.img}}layout/3.jpg" alt="A photo of Yasin in some building at Eskisehir city" width="680" height="907" loading="lazy">
    </picture>
  </figure>
  <figure>
    <picture>
      <source srcset="{{metadata.assets.img}}layout/7.webp" type="image/webp">
      <img src="{{metadata.assets.img}}layout/7.jpg" alt="A photo of Yasin with little monks at Wat Pho, Thailand" width="680" height="510" loading="lazy">
    </picture>
  </figure>
  <figure>
    <picture>
      <source srcset="{{metadata.assets.img}}layout/5.webp" type="image/webp">
      <img src="{{metadata.assets.img}}layout/5.jpg" alt="A photo of Yasin at Odessa, Ukraine" width="680" height="907" loading="lazy">
    </picture>
  </figure>
  <figure>
    <picture>
      <source srcset="{{metadata.assets.img}}layout/6.webp" type="image/webp">
      <img src="{{metadata.assets.img}}layout/6.jpg" alt="A photo of Yasin while eating fish and drinking raki" width="680" height="907" loading="lazy">
    </picture>
  </figure>
</div>
