<ul class="meta-list">
  <li class="meta-list__item">
    <span class="meta-list__title">Email</span>
    <a class="meta-list__value" href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a>
  </li>
  <li class="meta-list__item">
    <span class="meta-list__title">Follow on</span>
    <a class="meta-list__value" href="{{ metadata.social.twitter }}">Twitter</a>
  </li>
  <li class="meta-list__item">
    <span class="meta-list__title">Hello World</span>
    <a class="meta-list__value" href="{{ metadata.social.github }}">GitHub</a>
  </li>
  <li class="meta-list__item">
    <span class="meta-list__title">Photo Journal</span>
    <a class="meta-list__value" href="{{ metadata.social.instagram }}">Instagram</a>
  </li>
  <li class="meta-list__item">
    <span class="meta-list__title">Best Regards</span>
    <a class="meta-list__value" href="{{ metadata.social.linkedin }}">LinkedIn</a>
  </li>
</ul>
