<ul class="card-list">
  <li class="card-list__item">
    <a href="https://twitter.com/jensimmons">
      <span class="card-list__title">Jen Simmons</span>
    </a>
    <span class="card-list__value">She is simply amazing! I learned css grid and a lot css properties from her videos.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/SaraSoueidan">
      <span class="card-list__title">Sara Soueidan</span>
    </a>
    <span class="card-list__value">Goddess of semantic html, css and a11y. Just read <a href="https://www.sarasoueidan.com/blog/">her blog</a> posts. You will not regret.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/ademilter">
      <span class="card-list__title">Adem İlter</span>
    </a>
    <span class="card-list__value">Every Turkish developer / designer knows him. If you want to sharpen your skills check <a
        href="https://www.youtube.com/channel/UC1Z-a8i2Ce4oIEMV-S3iFrg">his YouTube channel</a>.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/mxbck">
      <span class="card-list__title">Max Böck</span>
    </a>
    <span class="card-list__value">He is an inspiring front-end developer! Want to learn Eleventy? Look into <a href="https://github.com/maxboeck/mxb">his repository</a>.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/hankchizljaw">
      <span class="card-list__title">Andy Bell</span>
    </a>
    <span class="card-list__value">You can learn a lot of things even while inspect his website. Btw check out his <a
        href="https://github.com/hankchizljaw/modern-css-reset">modern css reset</a> on Github.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/wesbos">
      <span class="card-list__title">Wes Bos</span>
    </a>
    <span class="card-list__value">Ready to learn css or javascript? Start with <a href="https://wesbos.com/courses">his courses</a>. I watched his CSS Grid course.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/rachelandrew">
      <span class="card-list__title">Rachel Andrew</span>
    </a>
    <span class="card-list__value">Are you a front-end developer? Just follow her.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/MicheBarks">
      <span class="card-list__title">Michelle Barker</span>
    </a>
    <span class="card-list__value">She has a website for real life <a href="https://css-irl.info/">css tips and tricks</a>. You might want to read her all blog posts.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/alaCaesar">
      <span class="card-list__title">Alaa Alnuaimi</span>
    </a>
    <span class="card-list__value">I'm following him for his <a href="https://www.minus99.com/">creative agency.</a></span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/samantha_ming">
      <span class="card-list__title">Samantha Ming</span>
    </a>
    <span class="card-list__value">She is sharing js, html and css <a href="https://www.samanthaming.com/tidbits/">tidbits</a> on her website. Spicy!</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/kablosuzkedi">
      <span class="card-list__title">Gökhan Kandemir</span>
    </a>
    <span class="card-list__value">I recommend his courses (in Turkish) who wants to start from zero.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/levelsio">
      <span class="card-list__title">Pieter Levels</span>
    </a>
    <span class="card-list__value">Creator of Nomad List. Just follow him. You will not regret.</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/peachananr">
      <span class="card-list__title">Pete Rojwongsuriya</span>
    </a>
    <span class="card-list__value">He is describing himself as a travel blogger. His <a href="https://www.bucketlistly.blog/">BucketListly</a> project inspired me a lot!</span>
  </li>
  <li class="card-list__item">
    <a href="https://twitter.com/5t3ph">
      <span class="card-list__title">Stephanie Eckles</span>
    </a>
    <span class="card-list__value">She runs a website for old css problems with modern solutions. I love <a
        href="https://moderncss.dev/">her approach</a> to the problems!</span>
  </li>
</ul>
