//------------------------------------------------------------
// = HERO
//------------------------------------------------------------
.hero{
  position: relative;
  display: flex;
  background: HSL(var(--color-white));
  padding-top: calc(var(--header) * 2);
  padding-bottom: calc(var(--header) + (var(--header) / 2));
  @include respond-below(md){
    padding-top: calc(var(--header) * 1.5);
  }
  .container{
    align-self: center;
  }
  .grid{
    grid-template-columns: minmax(auto, 480px) 360px;
    grid-gap: calc(var(--flow-space) * 3);
    justify-content: space-between;
    align-items: center;
    @include respond-below(md) {
      grid-template-columns: 1fr;
    }
  }
  .hero-copy{
    position: relative;
    z-index: 1;
    @include respond-below(md) {
      text-align: center;
    }
  }
  .hero-trial-form{
    position: relative;
    &:before{
      @include respond-above(md) {
        content: '';
        display: block;
        width: 915px;
        height: 659px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%) scale(0.8);
        z-index: 0;
        background: url("../images/layout/hero-bg-brand.svg");
        background-size: contain;
        filter: blur(5px);
        animation: heroTrialFormBg .5s linear both;
      }
    }
    .trial-form{
      position: relative;
      z-index: 1;
    }
  }
}
.hero-blob{
  position: absolute;
  left: 0;
  bottom: 0;
}
.hero-copy{
  > * {
    & + * {
      margin-top: calc(var(--flow-space) * 3);
    }
  }
}
.hero__title{
  color: HSL(var(--color-base));
  font-family: var(--font-alt);
  font-size: var(--fs-title-lg);
  line-height: 1.1;
}
.hero__description{
  font-size: var(--fs-text-sm);
}

@keyframes heroTrialFormBg{
  from{
    transform: translate(-50%, -50%) scale(0.8);
  }
  to{
    transform: translate(-50%, -50%) scale(1);
  }
}