.container-about{
  @extend .bg-pure;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--layout-gap) / 2);
  @include respond-above(md) {
    grid-template-columns: 1fr 1fr;
  }
  .article{
    padding-top: var(--layout-gap);
    padding-bottom: var(--layout-gap);
    @include respond-above(sm) {
      padding-top: calc(var(--layout-gap) * 2);
      padding-bottom: calc(var(--layout-gap) * 2);
    }
  }
}

.about-grid{
  --grid-padding: 1.5rem;
  --grid-gap: 3rem;

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr;
  grid-template-areas:  "hello"
                        "badge"
                        "photo1"
                        "specialties"
                        "stack"
                        "freelance"
                        "experience"
                        "photo2"
                        "interests"
                        "social";
  @include respond-above(sm){
    grid-template-columns: 1fr 1fr;
    grid-template-areas:  "hello hello"
                          "photo1 photo1"
                          "specialties experience"
                          "stack badge"
                          "freelance freelance"
                          "photo2 photo2"
                          "interests interests"
                          "social social";
  }
  @include respond-above(md){
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-areas:  "photo1 photo1 hello hello"
                          "specialties specialties experience experience"
                          "stack stack stack stack"
                          "badge freelance freelance freelance"
                          "photo2 photo2 photo2 photo2"
                          "social social interests interests";
  }
  @include respond-above(lg){
    --grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-areas:  "photo1 photo1 photo1 photo1 photo1 hello hello hello hello hello hello social"
                        "photo1 photo1 photo1 photo1 photo1 hello hello hello hello hello hello social"
                        "photo1 photo1 photo1 photo1 photo1 hello hello hello hello hello hello social"
                        "photo1 photo1 photo1 photo1 photo1 hello hello hello hello hello hello social"

                        "specialties specialties specialties specialties specialties badge badge freelance freelance freelance freelance freelance"
                        "specialties specialties specialties specialties specialties stack stack stack stack stack stack stack"
                        "specialties specialties specialties specialties specialties experience experience experience experience experience experience experience"
                        "photo2 photo2 photo2 photo2 photo2 experience experience experience experience experience experience experience"

                        "photo2 photo2 photo2 photo2 photo2 . . interests interests interests interests interests";
  }

  > * {
    position: relative;
    padding: var(--grid-padding);
    @include respond-above(sm){
      --grid-padding: 3rem;
    }
  }

  .hero-1, .hero-2{
    display: grid;
    gap: 1rem;
    padding: 0;
    figure{
      width: 100%;
      height: 100%;
    }
    img{
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }
  .hero-1{
    grid-area: photo1;
    grid-template-columns: 1fr;
  }
  .hero-2{
    grid-area: photo2;
    grid-template-columns: 1fr;
  }

  .text{
    grid-area: hello;
  }
  .stamp{
    grid-area: badge;
    display: flex;
    justify-content: center;
    align-items: center;
    svg, img{
      max-width: 100%;
      @include respond-above(xl){
        animation: animateStampIcon 10s linear infinite;
        will-change: transform;
        backface-visibility: hidden;
      }
    }
  }
  .freelance{
    grid-area: freelance;
    background: gold;
  }
  .experience{
    grid-area: experience;
    background: RGBA(var(--color-highlight), 0.02);
  }
  .stack{
    grid-area: stack;
  }
  .interests{
    grid-area: interests;
    background: RGBA(var(--color-success), .1);
  }
  .specialties{
    grid-area: specialties;
    background: RGBA(var(--color-bg-pale), .5);
    .specialties-bg{
      position: absolute;
      right: 0;
      bottom: 0;
      max-width: 80%;
      height: auto;
      pointer-events: none;
      path{
        fill: gray;
      }
    }
  }
  .social{
    display: flex;
    justify-content: center;
    align-items: center;
    grid-area: social;
    border: 1px solid RGBA(var(--color-bg-pale), 1);
    box-shadow: var(--box-shadow-2);
  }
}
.grid-area-header{
  margin-bottom: calc(var(--flow-space) * 3);
}
.grid-area-title{
  font-size: var(--fs-title-xs);
  font-weight: var(--bold);
  color: RGB(var(--color-paragraph));
}
