.about-grid{
  --grid-padding: 1.5rem;
  --grid-gap: 3rem;

  display: grid;
  gap: var(--grid-gap);
  grid-template-columns: 1fr;
  max-width: var(--container-md);
  margin-left: auto;
  margin-right: auto;
}

.about-hero{
  grid-column: 1 / -1;
  background-color: RGB(var(--color-bg-alt));
  text-align: center;
  padding: calc(var(--layout-gap) / 2);
}
