.article{
  max-width: var(--container-sm);
  margin-left: auto;
  margin-right: auto;
  @include respond-above(xs) {
    padding-left: calc(var(--flow-space) * 1.5);
    padding-right: calc(var(--flow-space) * 1.5);
  }
}

.article-header{
  margin-bottom: var(--layout-gap);
}
.article-title{
  font-size: var(--fs-title-md);
  color: RGB(var(--color-paragraph-inverse));
  line-height: 120%;
}
.article-description{
  margin-top: calc(var(--flow-space) * 1.5);
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph));
  line-height: 180%;
}
.article-meta{
  margin-top: calc(var(--flow-space) * 2);
}

.article__content{
  @extend .wysiwyg;
}

.article__footer{
  margin-top: var(--layout-gap);
}
