.footer{
  position: relative;
  background-color: RGB(var(--color-bg-alt));
  padding-top: var(--layout-gap);
  padding-bottom: calc(var(--layout-gap) / 3);
  margin-top: calc(var(--layout-gap) * 2);
  .inner{
    grid-column-start: 1;
    grid-column-end: -1;
  }
}
.footer__title{
  font-size: var(--fs-title-sm);
  font-weight: var(--bold);
  color: RGB(var(--color-paragraph-inverse));
  text-align: center;
  margin-bottom: var(--layout-gap);
}

.nav-footer{}
.nav-footer__list{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  grid-gap: calc(var(--flow-space) * 3);
  @include respond-below(md) {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  }
}
.nav-footer__item{
  position: relative;
  display: flex;
  flex-direction: column;
  font-size: var(--fs-text-sm);
  padding: 1.5rem;
  a{
    color: RGB(var(--color-paragraph-inverse));
    font-weight: var(--bold);
    font-size: var(--fs-text-sm);
    text-decoration: none;
    z-index: 0;
    &:after{
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
    }
    &:hover{
      color: RGB(var(--color-primary));
    }
  }
  span{
    color: RGB(var(--color-paragraph));
    margin-top: calc(var(--flow-space) / 2);
  }
}

.footer-pattern{
  position: absolute;
  top: -35px;
  background: url("/assets/img/layout/pattern.svg");
  height: 36px;
  width: 100%;
}


.copyright{
  margin-top: calc(var(--layout-gap) * 2);
  text-align: center;
  font-size: var(--fs-text-xs);
  color: RGBA(var(--color-paragraph-alternate), .5);
  a{
    color: inherit;
    &:hover{
      color: RGB(var(--color-primary));
    }
  }
}
.watermark{
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  svg{
    max-width: 100%;
    path{
      fill: RGBA(var(--color-paragraph-alternate), .02);
    }
  }
}
.fish{
  position: absolute;
  bottom: 0;
  right: 0;
  pointer-events: none;
  img{
    mix-blend-mode: lighten;
  }
}
.verse{
  margin-top: calc(var(--flow-space) * 3);
  color: RGB(var(--color-highlight-dark));
  font-size: var(--fs-text-xs);
  text-align: center;
}


// Capillary
.capillary-container {
  --stroke: #2f2f2f;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 0;
  overflow: hidden;
  pointer-events: none;
  user-select: none;
  margin-top: 0;
}
.capillary {
  position: absolute;
  pointer-events: none;
  opacity: 0.2;
  transition: opacity 0.2s linear;
  path{
    stroke: var(--stroke);
  }
}
.capillary--1 {
  bottom: 50%;
  right: 50%;
  margin-bottom: -300px;
  margin-right: -400px;
  animation: capillaryShape1 20s infinite alternate linear;
}
.capillary--2 {
  top: 50%;
  left: 50%;
  margin-top: -600px;
  margin-left: -475px;
  transform: rotate(15deg);
  animation: capillaryShape2 20s infinite alternate linear;
}
@keyframes capillaryShape1 {
  0% {
    transform: translateY(0) rotate(0deg);
  }
  100% {
    transform: translateY(20%) rotate(20deg);
  }
}
@keyframes capillaryShape2 {
  0% {
    transform: translateY(0) rotate(15deg);
  }
  100% {
    transform: translateY(-20%) rotate(25deg);
  }
}
