// Form Layout
.form-row{
  & + .form-row{
    margin-top: calc(var(--flow-space) * 3);
  }
}
fieldset{
  margin: 0 0 calc(var(--flow-space) * 6);
  padding: 0;
  border: 0;
}
legend{
  font-size: var(--fs-text-xs);
  margin-bottom: calc(var(--flow-space) * 1.5);
  padding-left: 0;
  color: RGB(var(--color-primary));
  letter-spacing: 0.05em;
  text-transform: uppercase;
  font-family: var(--font-alt);
}
label{
  > * {
    & + * {
      margin-top: var(--flow-space);
    }
  }
}

// Placeholders
%input-base{
  width: 100%;
  padding: var(--flow-space);
  font-size: var(--fs-text-sm);
  font-family: var(--font-alt);
  border: 1px solid RGB(var(--color-border));
  border-radius: var(--radius);
}
%input-focus{
  outline: 0;
  border-color: RGB(var(--color-secondary));
  box-shadow: 0 0 0 3px RGB(var(--color-secondary), .2);
}
%input-placeholder{
  color: RGB(var(--color-paragraph-light));
}
%label{
  display: block;
  font-size: var(--fs-text-md);
  font-family: var(--font-alt);
}

// Inputs
.input-1{
  input{
    @extend %input-base;
    &::placeholder{
      @extend %input-placeholder;
    }
    &:focus{
      @extend %input-focus;
    }
  }
  textarea{
    @extend %input-base;
    height: 200px;
    &::placeholder{
      @extend %input-placeholder;
    }
    &:focus{
      @extend %input-focus;
    }
  }
  .label{
    @extend %label;
  }
}
.select-1{
  select{
    @extend %input-base;
    &:focus{
      @extend %input-focus;
    }
  }
  .label{
    @extend %label;
  }
}
.check-1{
  padding: 3px 0;
  label{
    input{
      @extend .visually-hidden;
      & ~ .label{
        @extend %label;
        position: relative;
        padding-left: 38px;
        padding-top: 1px;
        margin-top: 0;
        small{
          display: block;
          font-size: var(--fs-text-xs);
          color: RGB(var(--color-paragraph-light));
        }
        &:before{
          content: "✔";
          position: absolute;
          left: 0;
          top: 0;
          width: 25px;
          height: 25px;
          z-index: 1;
          text-align: center;
          color: RGB(var(--color-secondary));
          transform: scale(0);
          transition: all 200ms linear;
        }
        &:after{
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          display: inline-block;
          width: 25px;
          height: 25px;
          border: 1px solid RGB(var(--color-border));
          background-color: RGB(var(--color-white));
          border-radius: var(--radius);
        }
      }
      &:checked ~ .label{
        &:after{
          border-color: RGB(var(--color-secondary));
          box-shadow: 0 0 0 3px RGB(var(--color-secondary), .2);
          background-color: RGBA(var(--color-secondary), .2);
        }
        &:before{transform: scale(1);}
      }
      &:disabled ~ .label{}
      &:checked:disabled ~ .label{}

      &[type="radio"] ~ .label{
        &:after{
          border-radius: 50%;
        }
      }
      &[type="checkbox"] ~ .label{

      }

      &:focus{
        & ~ .label{
          &:after{
            outline: 0;
            border-color: RGB(var(--color-secondary));
            box-shadow: 0 0 0 3px RGB(var(--color-secondary), .2);
          }
        }
      }
    }
  }
}
.toggle-1{
  label{
    position: relative;
    input{
      @extend .visually-hidden;
      & ~ .label{
        font-size: var(--fs-text-sm);
        display: inline-block;
        padding: var(--flow-space) calc(var(--flow-space) * 3);
        margin-top: 0;

        font-family: var(--font-alt);
        color: RGB(var(--color-paragraph));
        text-align: center;
        border: 1px solid RGB(var(--color-border));
        border-radius: calc(var(--radius) * 12);
        background-color: RGB(var(--color-white));
        &:hover{cursor: pointer;}
      }
      &:checked ~ .label{
        background-color: RGB(var(--color-secondary));
        border-color: RGB(var(--color-secondary));
        color: RGB(var(--color-white));
      }
      &:disabled ~ .label{}
      &:checked:disabled ~ .label{}

      &:focus{
        & ~ .label{
          outline: 0;
          border-color: RGB(var(--color-secondary));
          box-shadow: 0 0 0 3px RGB(var(--color-secondary), .2);
        }
      }
    }
  }
}

// Others
.note{
  @extend %label;
  color: RGB(var(--color-paragraph-light));
}
