.gallery{
  display: grid;
  grid-gap: var(--flow-space);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.gallery__item{
  position: relative;
  a{
    &:after{display: none !important;}
  }
  img{
    width: 100%;
    height: auto;
  }
}
.gallery-cta{
  grid-column-start: 1;
  grid-column-end: -1;
  color: RGB(var(--color-paragraph));
  text-align: right;
  font-size: var(--fs-text-sm);
  margin-top: calc(var(--flow-space) * 1.5);
  a{
    display: inline-block;
    color: RGB(var(--color-primary));}
}
