.header{
  position: relative;
  padding-top: calc(var(--flow-space) * 3);
  padding-bottom: calc(var(--flow-space) * 3);
  .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }
  .button-group{
    order: 1;
  }
}

.logo{
  display: block;
  line-height: 1;
}
.header-cta{
  @include respond-below(md) {
    padding: var(--flow-space) calc(var(--flow-space) * 1.5);
  }
}