.header{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;

  padding-top: calc(var(--flow-space) * 1.5);
  padding-bottom: calc(var(--flow-space) * 1.5);
  @include respond-above(sm) {
    padding-top: calc(var(--flow-space) * 3);
    padding-bottom: calc(var(--flow-space) * 3);
  }

  .container{
    display: flex;
    align-items: center;
  }

  body.work &{
    background-color: RGB(var(--color-bg));
  }

  .button-group{
    margin-left: calc(var(--flow-space) * 1.5);
    > * {
      padding: .5rem;
      @include respond-above(xs) {
        padding: var(--flow-space) calc(var(--flow-space) * 2);
      }
    }
  }
}

.logo{
  display: block;
  line-height: 1;
  margin-right: auto;
}
