.header{
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  max-width: var(--container-lg);
  margin-left: auto;
  margin-right: auto;
  padding-top: calc(var(--flow-space) * 1.5);
  padding-bottom: calc(var(--flow-space) * 1.5);
  @include respond-above(sm) {
    padding-top: calc(var(--flow-space) * 3);
    padding-bottom: calc(var(--flow-space) * 3);
  }

  .button-group{
    margin-left: calc(var(--flow-space) * 1.5);
    > * {
      padding: var(--flow-space);
    }
  }
}

.logo{
  display: block;
  line-height: 1;
  margin-right: auto;
}
