.hero{
  --hero-height: calc(100vh - (101px + 30px));

  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--flow-space) * 3);
  align-items: center;
  max-width: var(--container-lg);
  margin-left: auto;
  margin-right: auto;

  @include respond-above(lg) {
    margin-top: calc(-1 * var(--layout-gap));
    grid-template-columns: 1fr 1fr;
  }
}

.hero-text{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  max-width: 700px;
}
.hero__title{
  --text-size: 32px;

  margin-bottom: calc(var(--flow-space) * 1.5);
  font-size: var(--text-size);
  font-weight: var(--bold);
  line-height: 1.1;
  letter-spacing: -.01em;

  color: RGB(var(--color-paragraph));
  background: linear-gradient(73.39deg, RGB(var(--color-paragraph)) 7.52%, RGB(var(--color-black)) 98.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include respond-above(sm) {
    --text-size: var(--fs-title-xml);
  }
  span{
    display: block;
    width: 100%;
  }
}
.hero__description{
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph-light));
  line-height: 180%;
  a{
    background-color: RGB(var(--color-highlight), .2);
    text-decoration: none;
    border-radius: 4px;
    padding: .5rem;
    color: RGB(var(--color-black));
    &:hover, &:focus{
      color: RGB(var(--color-primary));
      background-color: RGB(var(--color-primary), .1);
    }
  }
}

.hero__figure{
  position: relative;
  &:before{
    --offset: 15px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 50%;
    height: calc(100% - var(--offset));
    background: RGB(var(--color-bg-pale));
    transform: translateY(var(--offset)) skewX(5deg);
    border-radius: var(--radius);
  }
}
.hero__pic{
  margin-left: auto;
  max-width: 100%;
  height: auto;
  width: 100%;
  object-fit: cover;
  border-radius: var(--radius);
  @include respond-above(sm) {
    height: var(--hero-height);
  }
}

.hero__icon{
  --hero-icon-size: 120px;
  width: var(--hero-icon-size);
  height: var(--hero-icon-size);

  position: absolute;
  left: calc(100% - (175px - (var(--hero-icon-size) / 6)));
  top: calc(-1 * (var(--hero-icon-size) / 6));
  z-index: 1;

  animation: animateStampIcon 10s linear infinite;
  will-change: transform;
  backface-visibility: hidden;

  @include respond-above(lg) {
    --hero-icon-size: 175px;
    left: calc(-1 * (var(--hero-icon-size)/2));
    top: calc(var(--hero-icon-size)/2);
  }
}
