.hero{
  --hero-height: 480px;
  position: relative;
  margin-top: calc(-1 * (var(--layout-gap)));
  padding: 12rem 1.5rem 0;
  height: var(--hero-height);
  overflow: hidden;
  @include respond-above(xs) {
    --hero-height: 620px;
  }
  @include respond-above(sm) {
    --hero-height: 800px;
    padding: 12rem 1.5rem 0;
  }
  .container{
    display: grid;
    align-items: start;
    height: 100%;
    gap: calc(var(--layout-gap) / 3);
    @include respond-above(sm) {
      align-items: flex-start;
      grid-template-columns: 1fr 1fr;
    }
  }
}

.hero-text{
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 1;
  gap: 1.5rem;
  @include respond-below(sm) {
    text-align: center;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  @include respond-above(sm) {
    margin: auto;
  }
}
.hero__title{
  font-size: var(--fs-title-xl);
  font-weight: var(--bold);
  line-height: 1.1;
  letter-spacing: -.01em;

  color: RGB(var(--color-paragraph-inverse));
  span{
    display: block;
    width: 100%;
  }
}
.hero__description{
  font-size: var(--fs-text-sm);
  color: RGB(var(--color-paragraph));
  line-height: 1.8;
  a{
    border-radius: 4px;
    padding: .5rem;
    color: RGB(var(--color-primary));
    &:hover, &:focus{
      background-color: RGB(var(--color-black));
    }
  }
}

.hero__figure{
  position: relative;
  animation: bringItOn 400ms linear forwards;
  @include respond-below(sm) {
    text-align: left;
    grid-row-start: 1;
    grid-column-start: 1;
  }
  img{
    margin: auto;
  }
}

.hero__pic, .hero-bg__sky, .hero-bg__scene, .hero-bg__cloud, .hero-bg__video, .hero-bg__shadow{
  pointer-events: none;
}
.hero-bg__sky{
  position: absolute;
  z-index: -3;
  top: 0;
  left: 0;
  width: 100%;
  height: 400px;
  background: url("/assets/img/layout/herobg-sky.jpg") top left;
  background-attachment: fixed;
}
.hero-bg__scene{
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("/assets/img/layout/herobg.png") top left;
  background-size: cover;
}
.hero-bg__video{
  mix-blend-mode: screen;
  opacity: .9;

  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 0;
  transform: translateX(-50%) translateY(-50%);
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  max-width: none;
}
.hero-bg__shadow{
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 300px;
  background: linear-gradient(to top, RGB(var(--color-bg)), transparent);
}

@keyframes bringItOn {
  0% {
    opacity: 0;
    transform: translateY(90px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
