.meta-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
  margin-right: -3rem;
}
.meta-list__item{
  font-family: var(--font-alt);
  font-size: var(--fs-text-sm);
  color: rgb(var(--color-paragraph));
  margin: var(--flow-space) calc(var(--flow-space) * 3);
}
.meta-list__title{
  display: block;
}
.meta-list__value{
  display: inline-block;
  color: rgb(var(--color-primary));
  text-decoration: none;
  max-width: 480px;
}