.meta-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -3rem;
  margin-right: -3rem;
}
.meta-list__item{
  font-size: var(--fs-text-sm);
  color: RGB(var(--color-paragraph));
  margin: var(--flow-space) calc(var(--flow-space) * 3);
}
.meta-list__title{
  display: block;
}
.meta-list__value{
  display: inline-block;
  color: RGB(var(--color-primary));
  text-decoration: none;
  max-width: 480px;
  &.disabled{
    color: RGBA(var(--color-border), .5);
    pointer-events: none;
  }
}
