.meta-list{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
  @include respond-above(md) {
    gap: 3rem;
  }
}
.meta-list__item{
  font-size: var(--fs-text-sm);
  color: RGB(var(--color-paragraph));
}
.meta-list__title{
  display: block;
  color: RGB(var(--color-paragraph-inverse));
}
.meta-list__value{
  display: inline-block;
  color: RGB(var(--color-primary));
  max-width: 480px;
  word-break: break-word;
  &.disabled{
    color: RGBA(var(--color-border), .5);
    pointer-events: none;
  }
}
