.photo-grid{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(420px, 1fr));
  grid-gap: calc(var(--flow-space) * 1.5);
  @include respond-below(sm) {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }

  .article__content & {
    width: var(--container-lg);
    max-width: initial;
    left: 50%;
    transform: translateX(-50%);
    @include respond-below(sm) {
      width: 100%;
      padding: 0;
    }
  }

  figure{
    position: relative;
  }
  img{
    min-height: 100%;
    width: 100%;
    object-fit: cover;
    height: auto;
  }
}

