.post-cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--flow-space) * 3);
  @include respond-above(sm) {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
  > * {
    &:nth-of-type(1){
      --card-bg: RGBA(var(--color-primary-alt), .05);
      --fs-text-lg: 38px;
      --fs-text-md: 22px;
      --color-primary: var(--color-paragraph);
      @include respond-above(sm) {
        grid-column-start: 1;
        grid-column-end: -1;
        padding-right: 50%;
      }
      .post-card__title{
        line-height: 1.2;
      }
    }
  }
}


.post-card{
  --card-bg: RGB(var(--color-white));
  background: var(--card-bg);
  box-shadow: var(--box-shadow-2);
  padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 1.5);
  @include respond-above(sm) {
    padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 3);
  }
  > * + * {
    margin-top: var(--flow-space);
  }
}
.post-card__date{
  font-size: var(--fs-text-sm);
}
.post-card__title{
  font-size: var(--fs-text-lg);
  font-weight: var(--semibold);
  color: RGB(var(--color-primary));

  a{
    display: block;
    color: inherit;
    text-decoration-line: none;
    &:hover, &:focus{
      text-decoration-line: underline;
      text-decoration-thickness: 1em;
      text-decoration-color: RGB(var(--color-highlight), 0.2);
      text-underline-offset: -1rem;
      text-decoration-skip-ink: none;
    }
  }
}
.post-card__description{
  font-size: var(--fs-text-sm);
  color: RGB(var(--color-paragraph-light));

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-card__meta{
  color: RGB(var(--color-paragraph));
  font-size: var(--fs-text-sm);
  a{
    color: inherit;
  }
}
.post-card__cta{
  display: inline-block;
  margin-top: calc(var(--flow-space) * 2);
  font-size: var(--fs-text-sm);
  color: RGB(var(--color-primary));
}
.post-card__figure{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 66.666% 0 0 0; /* (w / h) = x; (100 / x) = ratio */

  margin-bottom: calc(var(--flow-space) * 3);
  img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
