.post-cards{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: calc(var(--flow-space) * 3);
  @include respond-above(sm) {
    grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  }
  > * {
    &:nth-of-type(1){
      --card-bg: RGB(var(--color-bg-alt));
      --fs-text-lg: 38px;
      --fs-text-md: 22px;
      @include respond-above(sm) {
        grid-column-start: 1;
        grid-column-end: -1;
        padding-right: 50%;
      }
      .post-card__title{
        line-height: 1.2;
      }
    }
  }
}


.post-card{
  --card-bg: RGB(var(--color-bg-pale));
  background: var(--card-bg);
  box-shadow: var(--box-shadow-2);
  border-radius: var(--radius);
  padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 1.5);
  @include respond-above(sm) {
    padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 3);
  }
  > * + * {
    margin-top: var(--flow-space);
  }
}
.post-card__date{
  font-size: var(--fs-text-sm);
}
.post-card__title{
  font-size: var(--fs-text-sm);
  font-weight: var(--bold);
  color: RGB(var(--color-paragraph-inverse));

  a{
    display: block;
    color: inherit;
    text-decoration-line: none;
  }
}
.post-card__description{
  font-size: var(--fs-text-xs);
  color: RGB(var(--color-paragraph));

  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}
.post-card__meta{
  color: RGB(var(--color-paragraph));
  font-size: var(--fs-text-xs);
  a{
    color: inherit;
  }
}
.post-card__cta{
  display: inline-block;
  margin-top: calc(var(--flow-space) * 2);
  font-size: var(--fs-text-xs);
  color: RGB(var(--color-primary));
}
.post-card__figure{
  display: block;
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
  padding: 66.666% 0 0 0; /* (w / h) = x; (100 / x) = ratio */

  margin-bottom: calc(var(--flow-space) * 3);
  img{
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
