.section-project{
  margin-top: calc((var(--layout-gap) * -1) * 2);
}

.project-hero{
  padding-top: calc(var(--layout-gap) * 2);
  text-align: center;
  .section-inner{
    display: grid;
    justify-content: center;
    gap: 3rem;
  }
}
.project-figure{
  border-radius: var(--radius) var(--radius) 0 0;
  padding: var(--flow-space) var(--flow-space) 0;
  background: linear-gradient(135deg, rgb(var(--figure-color-r), var(--figure-color-g), var(--figure-color-b)), rgb(calc(var(--figure-color-r) + 50), calc(var(--figure-color-g) + 50), calc(var(--figure-color-b) + 50)));
  @include respond-above(sm) {
    padding: calc(var(--flow-space) * 3) calc(var(--flow-space) * 3) 0;
  }
  img{
    width: 100%;
    height: auto;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.project-header{
}
.project-title{
  font-size: var(--fs-title-lg);
  color: RGB(var(--color-paragraph-inverse));
}
.project-description{
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph));
  margin-top: var(--flow-space);
}

.project-meta{
  background-color: RGB(var(--color-bg-pale));
  border-bottom: 1px solid RGBA(var(--color-border), .5);
  .meta-list{
    gap: 0;
  }
  .meta-list__item{
    flex-grow: 1;
    margin: 0;
    padding: 1.5rem;
    border-top: 1px solid RGBA(var(--color-border), .5);
    border-left: 1px solid RGBA(var(--color-border), .5);
    @include respond-above(sm) {
      padding: 3rem;
    }
    &:last-of-type{
      border-left: 1px solid RGBA(var(--color-border), .5);
    }
  }
}

.project-detail{
  padding-top: var(--layout-gap);
}
