.section-project{
  margin-top: calc(var(--layout-gap) * -1);
}

.project-hero{
  padding-top: var(--layout-gap);
  text-align: center;
  background: linear-gradient(135deg, rgb(var(--figure-color-r), var(--figure-color-g), var(--figure-color-b)), rgb(calc(var(--figure-color-r) + 50), calc(var(--figure-color-g) + 50), calc(var(--figure-color-b) + 50)));
  .section-inner{

  }
}
.project-figure{
  padding-top: calc(var(--flow-space) * 3);
  @include respond-above(sm) {
    padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 3) 0;
  }
  img{
    width: 100%;
    height: auto;
    max-width: max-content;
    margin-left: auto;
    margin-right: auto;
  }
}
.project-title{
  font-size: var(--fs-title-xl);
  color: RGB(var(--color-white));
}
.project-description{
  font-size: var(--fs-text-lg);
  color: RGB(var(--color-white));
  margin-top: calc(var(--flow-space) * 1.5);
}

.project-meta{
  background-color: RGB(var(--color-white));
  border-bottom: 1px solid RGBA(var(--color-border), .5);
  .meta-list{
    gap: 0;
  }
  .meta-list__item{
    flex-grow: 1;
    margin: 0;
    padding: 3rem;
    border-top: 1px solid RGBA(var(--color-border), .5);
    border-left: 1px solid RGBA(var(--color-border), .5);
    &:last-of-type{
      border-left: 1px solid RGBA(var(--color-border), .5);
    }
  }
}

.project-detail{
  padding-top: var(--layout-gap);
}
