.section-quote{
  background: RGB(var(--color-bg-pale));
  padding: var(--layout-gap) 0;
}

.quote{
  display: grid;
  place-content: center;
}
.quote__figure{
  margin-bottom: calc(var(--flow-space) * 3);
  svg{
    path{
      fill: RGB(var(--color-paragraph-inverse));
    }
  }
}
.quote__blockquote{
  text-align: center;
  font-weight: var(--regular);
  font-size: var(--fs-title-sm);
  color: RGB(var(--color-paragraph-inverse));
}
