.section-quote{
  background: RGB(var(--color-tertiary));
  padding: calc(var(--layout-gap) * 2) 0;
}

.quote{
  display: grid;
  place-content: center;
}
.quote__figure{
  margin-bottom: calc(var(--flow-space) * 3);
  svg{
    path{
      fill: RGB(var(--color-black));
    }
  }
}
.quote__blockquote{
  text-align: center;
  font-weight: var(--regular);
  font-size: var(--fs-title-lg);
  color: RGB(var(--color-black));
}
