.result{
  .section-inner{
    text-align: center;
  }
}
.result__title{
  font-size: var(--fs-title-xxl);
}
.result__subtitle{
  font-size: var(--fs-title-sm);
  margin-top: calc(var(--flow-space) * 1.5);
}
.result__description{
  font-size: var(--fs-text-lg);
  margin-top: calc(var(--flow-space) * 1.5);
  color: RGB(var(--color-paragraph-light));
}
.result__cta{
  margin-top: calc(var(--flow-space) * 12);
}
