.skill{
  display: grid;
  grid-gap: var(--flow-space);
  grid-template-columns: 1fr 1fr;
  @include respond-above(sm) {
    grid-gap: calc(var(--flow-space) * 1.5);
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.skill-card{
  padding: calc(var(--flow-space) * 1.5);
  border-radius: var(--radius);
  box-shadow: var(--box-shadow-2);
  @include respond-above(sm) {
    padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 3);
  }

  > * + * {
    margin-top: var(--flow-space);
  }

  &:hover{
    svg, img{
      animation: bounceSkillCardFigure 1s cubic-bezier(0.280, 0.840, 0.420, 1) forwards;
      will-change: transform;
      backface-visibility: hidden;
    }
  }
}
.skill-card__title{
  font-size: var(--fs-text-sm);
  font-weight: var(--bold);
  background: -webkit-linear-gradient(73.39deg,RGB(var(--color-primary)) 7.52%,RGB(var(--color-primary-alt)) 98.26%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  color: RGB(var(--color-primary));
}
.skill-card__description{
  font-size: var(--fs-text-xs);
  color: RGB(var(--color-paragraph-light));
  @include respond-above(sm) {
    font-size: var(--fs-text-sm);
  }
}
.skill-cta{
  grid-column-start: 1;
  grid-column-end: -1;
  color: RGB(var(--color-paragraph-light));
  text-align: right;
  font-size: var(--fs-text-sm);
  margin-top: calc(var(--flow-space) * 1.5);
  @include respond-above(sm) {
    grid-column-end: -2;
  }
  a{
    color: RGB(var(--color-paragraph));
    text-decoration: none;
    &:hover, &:focus{
      color: RGB(var(--color-primary));
    }
  }
}


@keyframes bounceSkillCardFigure {
  0%   { transform: scale(1,1)      translateY(5px); }
  10%  { transform: scale(1.1,.9)   translateY(5px); }
  30%  { transform: scale(.9,1.1)   translateY(-5px); }
  50%  { transform: scale(1.1,.9) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-5px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
