.skill{
  display: grid;
  grid-gap: calc(var(--flow-space) * 1.5);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.skill-card{
  background-color: RGB(var(--color-white));
  padding: var(--layout-gap) calc(var(--flow-space) * 3);

  @include respond-below(md) {
    padding: calc(var(--flow-space) * 3);
  }
  > * + * {
    margin-top: var(--flow-space);
  }

  &:hover{
    svg, img{
      animation: bounceSkillCardFigure 1s cubic-bezier(0.280, 0.840, 0.420, 1) forwards;
      will-change: transform;
      backface-visibility: hidden;
    }
  }
}
.skill-card__title{
  font-family: var(--font-alt);
  font-size: var(--fs-text-md);
  color: RGB(var(--color-primary));
}
.skill-card__description{
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph-light));
}
.skill-cta{
  grid-column-start: 1;
  grid-column-end: -2;
  color: RGB(var(--color-paragraph-light));
  text-align: right;
  font-size: var(--fs-text-sm);
  font-family: var(--font-alt);
  margin-top: calc(var(--flow-space) * 1.5);
  a{
    color: RGB(var(--color-paragraph));
    text-decoration: none;
    &:hover, &:focus{
      color: RGB(var(--color-primary));
    }
  }
}


@keyframes bounceSkillCardFigure {
  0%   { transform: scale(1,1)      translateY(5px); }
  10%  { transform: scale(1.1,.9)   translateY(5px); }
  30%  { transform: scale(.9,1.1)   translateY(-5px); }
  50%  { transform: scale(1.1,.9) translateY(0); }
  57%  { transform: scale(1,1)      translateY(-5px); }
  64%  { transform: scale(1,1)      translateY(0); }
  100% { transform: scale(1,1)      translateY(0); }
}
