.skip-link{
  background-color: rgb(var(--color-highlight));
  font-size: var(--fs-text-md);
  color: rgb(var(--color-paragraph));
  &:focus{
    clip: unset;
    width: auto;
    padding: .5rem 1rem;
    text-decoration: none;
    z-index: 99;
  }
}
button:focus, a:focus {
  outline: 2px solid rgb(var(--color-highlight));
}