.social{
  display: flex;
  flex-wrap: wrap;
  margin-left: calc((var(--flow-space) * 1.5) * -1);
  margin-right: calc((var(--flow-space) * 1.5) * -1);
}
.social__item{
  margin-left: calc(var(--flow-space) * 1.5);
  margin-right: calc(var(--flow-space) * 1.5);
  a{
    display: flex;
    justify-content: center;
    align-items: center;
    color: RGB(var(--color-paragraph));
    padding: calc(var(--flow-space) / 2);
    &:hover{
      color: RGB(var(--color-primary));
    }
  }
  svg{
    path, rect{
      fill: currentColor;
    }
  }
}
