.table-responsive{
  width: 100%;
  overflow-x: auto;
}
.table{
  width: 100%;
  border-collapse: collapse;
  font-size: var(--fs-text-sm);
  text-align: left;
  thead{
    background-color: RGB(var(--color-bg-pale));
    th{
      color: RGB(var(--color-paragraph));
      font-size: var(--fs-text-xs);
      font-weight: var(--regular);
    }
  }
  th, td{
    padding: var(--flow-space);
    &.cell-shrink{
      width:0.1%;
      white-space: nowrap;
    }
  }
  caption{
    caption-side: top;
    padding-top: var(--flow-space);
    padding-bottom: var(--flow-space);
    text-align: left;
    color: RGB(var(--color-paragraph));
  }
  em{
    display: inline-block;
    font-style: normal;
    background: RGBA(var(--color-highlight), .3);
  }
  small{
    color: RGB(var(--color-paragraph));
  }
}
.table-striped{
  tr{
    &:nth-child(even){
      background-color: RGB(var(--color-bg));
    }
    &:nth-child(odd){
      background-color: RGB(var(--color-bg-pale));
    }
  }
}
.table-hover{
  tr{
    &:hover{
      background-color: RGB(var(--color-bg-pale));
    }
  }
}
.table-bordered{
  th, td{
    border: 1px solid RGB(var(--color-border));
  }
}
