.section-travel{
  margin-top: calc(var(--layout-gap) * -1);
  .section-header{
    background-size: cover;
    background-color: RGB(var(--color-primary));
    background-image: url("/assets/img/layout/travel.jpg");
    padding: var(--layout-gap) calc(var(--flow-space) * 3) calc(var(--layout-gap) * 2);
  }
  .section-description{
    color: RGB(var(--color-paragraph-inverse));
  }
}

.travel-cards{
  display: grid;
  grid-gap: 3rem;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  margin-left: auto;
  margin-right: auto;
  @include respond-below(sm) {
    grid-template-columns: 1fr;
  }
  > * {
    &:first-of-type{
      grid-column-start: 1;
      grid-column-end: -1;

      .post-card__title{
        font-size: var(--fs-title-sm);
        line-height: 120%;
      }
    }
  }
}

.travel-mini-cards{
  margin-bottom: calc(var(--layout-gap) / 2);
}
