.section-works{
  .section-footer{
    text-align: center;
    margin-top: var(--layout-gap);
  }
}

.works{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: calc(var(--flow-space) * 3);
  @include respond-below(md) {
    grid-template-columns: 1fr;
  }
}
.works__item{}
.works__figure{
  padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 3) 0;
  img{
    width: 100%;
  }
}
.works__meta{
  padding: calc(var(--flow-space) * 3);
}
.works__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--flow-space) * 1.5);
}
.works__title{
  font-size: var(--fs-text-md);
  font-weight: var(--bold);
  font-family: var(--font-alt);
  color: rgb(var(--color-primary));
}
.works__description{
  font-size: var(--fs-text-md);
  color: rgb(var(--color-paragraph-light));
  max-width: 520px;
}
.works__link{
  font-size: var(--fs-text-sm);
  background-color: rgba(var(--color-highlight), .2);
  border-radius: 2px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--color-paragraph);
  font-family: var(--font-alt);
}