.section-works{
  .section-footer{
    text-align: center;
    margin-top: var(--layout-gap);
  }
}

.works{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(588px, 1fr));
  grid-gap: calc(var(--flow-space) * 3);
  @include respond-below(md) {
    grid-template-columns: 1fr;
  }
}
.works__item{
  display: flex;
  flex-direction: column
}
.works__figure{
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: calc(var(--flow-space) * 6) calc(var(--flow-space) * 3) 0;
  background: linear-gradient(45deg, rgb(var(--figure-color-r), var(--figure-color-g), var(--figure-color-b)), rgb(calc(var(--figure-color-r) + 30), calc(var(--figure-color-g) + 30), calc(var(--figure-color-b) + 30)));

  @include respond-below(sm) {
    padding: calc(var(--flow-space) * 4.5) calc(var(--flow-space) * 1.5) 0;
  }
  &:empty{
    min-height: 342px;
    background-color:RGBA(var(--color-border), .3);
  }
  a{
    margin-top: auto;
  }
  img{
    width: 100%;
    height: auto;
    max-width: max-content;
    margin-top: auto;
    margin-left: auto;
    margin-right: auto;
  }
}
.works__meta{
  flex-shrink: 0;
  padding: calc(var(--flow-space) * 3);
  @include respond-below(sm) {
    padding: calc(var(--flow-space) * 3) calc(var(--flow-space) * 1.5);
  }
}
.works__header{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: calc(var(--flow-space) * 1.5);
}
.works__title{
  font-size: var(--fs-text-md);
  font-weight: var(--bold);
  font-family: var(--font-alt);
  color: RGB(var(--color-primary));
  &:empty{
    display: block;
    width: 40%;
    height: 24px;
    background: RGBA(var(--color-border), .3);
  }
}
.works__description{
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph-light));
  max-width: 520px;
  min-height: 54px;

  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  &:empty{
    display: block;
    width: 80%;
    height: 54px;
    background: RGBA(var(--color-border), .3);
  }
}
.works__link{
  font-size: var(--fs-text-sm);
  background-color: RGBA(var(--color-highlight), .2);
  border-radius: 2px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--color-paragraph);
  font-family: var(--font-alt);
  &.disabled{
    min-width: 76px;
    text-align: center;
    height: 34px;
    background: RGBA(var(--color-border), .3);
    pointer-events: none;
  }
}
