.gallery{
  display: grid;
  grid-gap: var(--flow-space);
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
}
.gallery__item{
  position: relative;
  a{
    &:after{display: none !important;}
  }
  img{width: 100%;}
}
.gallery__like{
  position: absolute;
  right: 10px;
  top: 10px;
  padding: 5px;
  background: rgb(var(--color-bg-alt));
  color: rgb(var(--color-white));
  font-size: var(--fs-text-sm);
  font-family: var(--font-alt);
}
.gallery-cta{
  grid-column-start: 1;
  grid-column-end: -1;
  color: rgb(var(--color-paragraph-light));
  text-align: right;
  font-size: var(--fs-text-sm);
  font-family: var(--font-alt);
  margin-top: calc(var(--flow-space) * 1.5);
  a{
    display: inline-block;
    color: rgb(var(--color-paragraph));
    text-decoration: none;
    &:hover, &:focus{
      color: rgb(var(--color-primary));
    }
  }
}
