.nav{
  @include respond-above(md){
    margin-left: auto;
    margin-right: calc(var(--flow-space) * 1.5);
  }
  @include respond-below(md) {
    order: 1;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: rgb(var(--color-bg));
    border-top: 1px solid rgb(var(--color-border));

    will-change: transform;
    transform: translateX(100%);
    transition: transform 200ms ease-in;
    z-index: 10;
  }
}
.nav.is-active{
  transform: none;
}
.nav__list{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include respond-below(md) {
    height: 100%;
    align-items: stretch;
    padding-top: var(--flow-space);
    padding-bottom: var(--flow-space);
  }
}
.nav__item{
  margin-left: var(--flow-space);
  margin-right: var(--flow-space);
  @include respond-below(md) {
    width: calc(50% - (var(--flow-space) * 2));
    margin-top: var(--flow-space);
    margin-bottom: var(--flow-space);
    border: 1px solid rgb(var(--color-border));
  }
  a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: .5rem;
    height: 100%;
    font-family: var(--font-alt);
    font-size: var(--fs-text-sm);
    color: rgb(var(--color-paragraph));
    text-decoration: none;
    &:hover{color: rgb(var(--color-primary));}
  }
}