.skill{
  display: grid;
  grid-gap: calc(var(--flow-space) * 1.5);
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
}
.skill-card{
  background-color: rgb(var(--color-white));
  padding: var(--layout-gap) calc(var(--flow-space) * 3);

  @include respond-below(md) {
    padding: calc(var(--flow-space) * 3);
  }
  > * + * {
    margin-top: var(--flow-space);
  }
  svg, img{

  }
}
.skill-card__title{
  font-family: var(--font-alt);
  font-size: var(--fs-text-md);
  color: rgb(var(--color-primary));
}
.skill-card__description{
  font-size: var(--fs-text-md);
  color: rgb(var(--color-paragraph-light));
}
.skill-cta{
  grid-column-start: 1;
  grid-column-end: -2;
  color: rgb(var(--color-paragraph-light));
  text-align: right;
  font-size: var(--fs-text-sm);
  font-family: var(--font-alt);
  margin-top: calc(var(--flow-space) * 1.5);
  a{
    color: rgb(var(--color-paragraph));
    text-decoration: none;
    &:hover, &:focus{
      color: rgb(var(--color-primary));
    }
  }
}
