.table-responsive{
  width: 100%;
  overflow-x: auto;
}
.table{
  width: 100%;
  border-collapse: collapse;
  font-family: var(--font-alt);
  font-size: var(--fs-text-md);
  text-align: left;
  th{
    background-color: rgb(var(--color-bg-pale));
  }
  th, td{
    padding: var(--flow-space);
  }
  caption{
    caption-side: bottom;
    padding-top: var(--flow-space);
    padding-bottom: var(--flow-space);
    text-align: left;
    color: rgb(var(--color-paragraph-light));
    font-size: .8em;
  }
}
.table-striped{
  tr{
    &:nth-child(even){
      background-color: rgb(var(--color-bg));
    }
    &:nth-child(odd){
      background-color: rgb(var(--color-white));
    }
  }
}
.table-hover{
  tr{
    &:hover{
      box-shadow: inset 0 0 10px 1px rgba(var(--color-black), .1);
    }
  }
}
.table-bordered{
  th, td{
    border: 1px solid rgb(var(--color-border));
  }
}