@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 400;
  src: local('Silka'), url('../font/silka-regular-webfont.woff2') format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 500;
  src: local('Silka'), url('../font/silka-semibold-webfont.woff2') format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 700;
  src: local('Silka'), url('../font/silka-bold-webfont.woff2') format("woff2");
  font-display: swap;
}
@font-face {
  font-family: 'Silka';
  font-style: normal;
  font-weight: 900;
  src: local('Silka'), url('../font/silka-black-webfont.woff2') format("woff2");
  font-display: swap;
}
