.button{
  display: inline-block;
  padding: var(--flow-space) calc(var(--flow-space) * 3);
  cursor: pointer;
  text-decoration: none;
  font-family: var(--font-alt);
  font-size: var(--fs-text-xs);
  font-weight: var(--bold);
  border: 0;
  text-align: center;
  &.button-sm{
    padding: var(--flow-space) calc(var(--flow-space) * 1.5);
  }
}
.button-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    & + * {margin-left: var(--flow-space);}
  }
}
.button-group{
  margin-left: calc((var(--flow-space) * 0.75) * -1);
  margin-right: calc((var(--flow-space) * 0.75) * -1);
  > * {
    margin-left: calc(var(--flow-space) * 0.75);
    margin-right: calc(var(--flow-space) * 0.75);
  }
}
.button-block{
  width: 100%;
}
.button-lg{
  padding: calc(var(--flow-space) * 2) calc(var(--flow-space) * 3);
}

.button-1{
  @extend .button;
  background-color: RGB(var(--color-paragraph));
  color: RGB(var(--color-white));
  box-shadow: inset 0 0 0 2px RGB(var(--color-paragraph));
  &:hover, &:focus{
    background-color: RGB(var(--color-white));
    color: RGB(var(--color-paragraph));
  }
}
.button-2{
  @extend .button;
  background-color: RGB(var(--color-white));
  color: RGB(var(--color-paragraph));
  box-shadow: inset 0 0 0 2px RGB(var(--color-paragraph));
  &:hover, &:focus{
    background-color: RGB(var(--color-paragraph));
    color: RGB(var(--color-white));
  }
}
.button-3{
  @extend .button;
  background-color: RGB(var(--color-paragraph));
  color: RGB(var(--color-white));
  box-shadow: inset 0 0 0 2px RGB(var(--color-paragraph));
  &:hover, &:focus{
    background-color: RGB(var(--color-paragraph));
    color: RGB(var(--color-paragraph));
  }
}

.button-nav{
  @extend .button, .button-2;
  display: none;
  padding: var(--flow-space);
  font-weight: var(--regular);
  @include respond-below(md) {
    display: inline-block;
  }
  svg{
    path{
      fill: currentColor;
    }
  }
}
