.button-inner{
  display: flex;
  align-items: center;
  justify-content: center;
  > * {
    & + * {margin-left: var(--flow-space);}
  }
}
.button-group{
  display: flex;
  flex-wrap: wrap;
  gap: calc(var(--flow-space) * 1.5);
  font-size: 0;
}
.button-block{
  width: 100%;
}

.button{
  position: relative;
  display: inline-block;
  padding: var(--flow-space) calc(var(--flow-space) * 3);
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-text-xs);
  font-weight: var(--bold);
  border: 0;
  text-align: center;
  border-radius: var(--radius);
  transition: all .2s linear;
}
.button-lg{
  padding: calc(var(--flow-space) * 2) calc(var(--flow-space) * 3);
}
.button-sm{
  padding: var(--flow-space) calc(var(--flow-space) * 1.5);
}

%button-creator{
  color: var(--color-text);
  background: var(--color-bg);
  border: 2px solid var(--color-border);
  &:after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: var(--radius);
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
    background-color: var(--color-bg);
  }
  &:hover, &:focus {
    background: var(--color-bg-hover);
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    text-shadow: 0 0 5px var(--color-text-shadow);
    &:after{
      transform: scaleX(1.4) scaleY(1.6);
      opacity: 0;
    }
  }
  &:active{
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }

  svg{
    path{
      fill: currentColor;
    }
  }
}

.button-1{
  @extend .button;
  @extend %button-creator;
  --color-bg: RGB(var(--color-primary));
  --color-bg-hover: RGB(var(--color-primary-alt));
  --color-border: RGB(var(--color-primary));
  --color-text: RGB(var(--color-black));
  --color-text-shadow: RGB(var(--color-primary-alt));
}
.button-2{
  @extend .button;
  @extend %button-creator;
  --color-bg: RGB(var(--color-bg));
  --color-bg-hover: RGB(var(--color-bg-alt));
  --color-border: RGB(var(--color-primary));
  --color-text: RGB(var(--color-white));
  --color-text-shadow: RGB(var(--color-black));
}

.button-nav{
  @extend .button, .button-2;
  display: none;
  padding: var(--flow-space);
  font-weight: var(--bold);
  @include respond-below(md) {
    display: inline-block;
  }
}
.button-aside{
  @extend .button, .button-2;
  display: inline-block;
  padding: var(--flow-space);
  font-weight: var(--bold);
}

button:focus-visible, a:focus-visible {
  outline: 2px solid RGB(var(--color-highlight));
}


@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
