.visually-hidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: auto;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
}

//noinspection ALL
.bg-alt{
  background-color: RGB(var(--color-bg-alt));
}
.bg-pure{
  background-color: RGB(var(--color-white));
}

.text-center{text-align: center;}

a[href*="//"]:not([href*="yasingenc.net"]){
  &:after{
    content: '';
    display: inline-block;
    width: 13px;
    height: 13px;
    background: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iMTMiIHZpZXdCb3g9IjAgMCAxMyAxMyIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPHBhdGggZD0iTTEgMTJMMTIgMU0xMiAxSDRNMTIgMVY4LjUiIHN0cm9rZT0iIzE0MTcxQSIvPgo8L3N2Zz4=");
    margin-left: 5px;
    margin-right: 5px;
    transition: transform .1s linear;
  }
  &:hover, &:focus{
    &:after{
      transform: rotateZ(45deg);
    }
  }
}
a[href*="javascript:"]{
  pointer-events: none;
}

.flex-group {
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: -7.5px;
  margin-left: -7.5px;
  > * {
    margin-right: 7.5px;
    margin-left: 7.5px;
  }
}

.skip-link{
  background-color: RGB(var(--color-highlight));
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph));
  &:focus{
    clip: unset;
    width: auto;
    padding: .5rem 1rem;
    text-decoration: none;
    z-index: 99;
  }
}
