body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: RGB(var(--color-bg));
  color: RGB(var(--color-paragraph));
  font-family: var(--font-base);
  overflow-x: hidden;
}
%container{
  margin-left: auto;
  margin-right: auto;
}
.container{
  @extend %container;
  max-width: var(--container-lg);

}
.container-md{
  @extend %container;
  max-width: var(--container-md);
}
.container-sm{
  @extend %container;
  max-width: var(--container-sm);
}

.main{
  @include respond-below(xs) {
    --layout-gap:  4.5rem;
  }
  padding-top: calc(var(--layout-gap) * 2);
  body.homepage &{
    padding-top: var(--layout-gap);
  }
}

main{
  > * {
    & + * {
      margin-top: calc(var(--layout-gap) * 2.25);
    }
  }
}

.section{}
.section-boxed{
  .section-inner{
    background: RGBA(var(--color-bg-pale), 1);
    padding: var(--layout-gap) calc(var(--flow-space) * 3);
    border-radius: var(--radius);
    @include respond-below(md) {
      padding: calc(var(--flow-space) * 6) var(--flow-space);
    }
  }
}

.section-header{
  text-align: center;
  margin-bottom: var(--layout-gap);
}
.section-title{
  font-size: var(--fs-title-xs);
  font-weight: var(--bold);
  text-transform: uppercase;
  color: RGB(var(--color-paragraph-inverse));
  &.section-title--alternate{
    margin-bottom: .5rem;
    font-size: var(--fs-text-xs);
    font-weight: var(--regular);
    text-transform: none;
    text-align: right;
    color: RGB(var(--color-paragraph));
  }
}
.section-description{
  max-width: 630px;
  margin-left: auto;
  margin-right: auto;
  margin-top: var(--flow-space);
  font-size: var(--fs-text-md);
  color: RGB(var(--color-paragraph));
}
.section-footer{
  text-align: center;
  margin-top: var(--layout-gap);
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  body{overflow: hidden;}
  header::before{
    content: 'Unsupported Browser!' '\A' '\A' 'I only support the recent versions of major browsers like Chrome, Firefox, Opera, Brave, Safari, and Edge.';
    position: fixed;
    z-index: 100000;

    display: flex;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
    top: 0;
    left: 0;
    padding: 15px;
    width: 100%;
    height: 100%;

    white-space: pre-wrap;
    font-size: 2rem;
    background: RGB(255, 190, 10);
    color: RGB(20, 25, 25);
    text-align: center;;
  }
}
