//------------------------------------------------------------
// = BUTTON
//------------------------------------------------------------
.button{
  display: inline-flex;
  align-items: center;
  padding: var(--flow-space) calc(var(--flow-space) * 2);
  cursor: pointer;
  text-decoration: none;
  font-size: var(--fs-text-xs);
  font-weight: var(--bold);
  border: 0;
  height: 50px;
  text-align: center;
  > * {
    & + * {
      margin-left: 10px;
    }
  }
  &:hover{
    > * {
      & + svg {
        transform: translateX(5px);
      }
    }
  }
  i, svg, img{
    transition: var(--transition);
  }
}
.button-block{
  width: 100%;
  display: block;
}
.button-1{
  @extend .button;
  background-color: HSLA(var(--color-primary), 0.15);
  color: HSL(var(--color-primary));
  border-radius: var(--radius);
  &:hover, &:focus{
    background-color: HSLA(var(--color-primary), 0.10);
  }
}
.button-2{
  @extend .button;
  background-color: HSL(var(--color-primary));
  color: HSL(var(--color-white));
  border-radius: var(--radius);
  font-weight: var(--semi-bold);
  &:hover, &:focus{
    background-color: HSLA(var(--color-primary), 0.9);
  }
}
.button-3{
  @extend .button;
  background-color: HSL(var(--color-secondary));
  color: HSL(var(--color-base));
  border-radius: var(--radius);
  &:hover, &:focus{
    background-color: HSLA(var(--color-secondary), 0.9);
  }
}

.button-login{
  @extend .button-1;
  @include respond-below(md) {
    display: none;
  }
}
.button-nav{
  @extend .button-2;
  display: none;
  padding: var(--flow-space);
  font-weight: var(--regular);
  @include respond-below(md) {
    display: inline-flex;
    height: 40px;
  }
  svg{
    path{
      fill: currentColor;
    }
  }
}

.link-1{
  display: inline-block;
  color: HSL(var(--color-primary));
  font-size: var(--fs-text-md);
}