---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="result">
    <div class="container">
        <div class="section-inner">
            <h1 class="result__title">Oops!</h1>
            <h2 class="result__subtitle">The page you requested cannot be found.</h2>
            <p class="result__description">The URL may be misspelled or the page you're looking for doesn’t exist anymore like Mausoleum at Halicarnassus...</p>
            <a href="{{ '/' | url }}" class="result__cta button-1">Go Back to Home</a>
        </div>
    </div>
</section>
