---
layout: layouts/base.njk
permalink: /about/
title: Hi, I’m Yasin.
eleventyNavigation:
  key: About
  order: 2
  excerpt: I design & develop modern and accessible web interfaces.
---

<section class="section">
  <div class="about-grid">
    <article class="about-hero">
      <div class="wysiwyg">
        <h1>{{ title }}</h1>
        <p>I'm a front-end developer helping brands around the world; build user experience based modern and
          accessible <a href="/works">web interfaces</a> with a strong focus on performance, deep knowledge in the area of new
          front-end technologies, and responsive design.</p>
        <p>My main advantage is that <span style="text-decoration: underline;">I have experience</span> in UI design and front-end development. It makes me
          understand design correctly, build effective communication between teams and project owners.</p>
        <p>Currently, I live in {{ metadata.personal.city }}, {{ metadata.personal.country }}. I am open to relocation and look forward to learning more.</p>
        <p><a href="https://drive.google.com/file/d/1Tivi-rsm27UNCb5VrvTW60KK_rCUMq1L/view?usp=sharing">View Resume</a></p>
      </div>
    </article>

    <div class="experience">
      <ol class="card-list card-list--v3" style="grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));">

        {% for item in employment  %}

        <li class="card-list__item">
          <figure class="card-list__figure" style="height: 60px;">
            <img src="/assets/img/layout/{{item.company.logo}}" alt="">
          </figure>
          <span class="card-list__title">{{item.company.name}}</span>
          <span class="card-list__title-alt">
            {{item.date.beginning}} -
              {% if item.date.end !== false %}
                <span>{{item.date.end}}</span>
              {% else %}
                <span style="color: RGB(var(--color-alert));">Today</span>
              {% endif %}
          </span>
          <span class="card-list__value">{{item.title}}</span>
        </li>

        {% endfor %}

      </ol>
    </div>

  </div>
</section>
