---
layout: layouts/base.njk
permalink: /about/
title: Hi, I’m Yasin.
eleventyNavigation:
  key: About
  order: 2
  excerpt: I design & develop modern and accessible web interfaces.
---

<section class="section">
  <div class="container">
    <div class="section-inner">
      <div class="about">
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
        <div>A</div>
      </div>
    </div>
  </div>
</section>

<div class="container container-about">
  <article class="article">
    <header class="article-header">
      <h1 class="article-title">{{ title }}</h1>
    </header>
    <section class="article__content">
      <p>
        I'm a front-end developer helping brands around the world; build user experience based modern and
        accessible web interfaces with a strong focus on performance, deep knowledge in the area of new
        front-end technologies and responsive design.
      </p>
      <p>
        My main advantage is that I have experience in ui design and front-end development. It makes me
        understand design correctly, build effective communication between teams and project owner.
      </p>
      <h2>My Specialties</h2>
      <ul>
        <li>Responsive Design</li>
        <li>UI/UX</li>
        <li>HTML Email</li>
        <li>Page Speed Optimizations (Lighthouse / GTmetrix)</li>
        <li>Jamstack / Eleventy (11TY)</li>
        <li>Accessibility (A11Y)</li>
        <li>AMP Pages</li>
        <li>Theme Editing</li>
        <li>Figma / PSD to HTML</li>
      </ul>
      <h2>Technology Stack</h2>
      <p>JavaScript, React.js, AMP, HTML5, CSS3, Bootstrap, SVG, Figma, Eleventy(11ty), Netlify, Gulp, Parcel</p>
      <p>I’m available for freelance front-end development projects.</p>
      <h2>Work Experience</h2>
      <ul>
        <li>
          <a href="https://www.denge.com.tr/"><strong>Denge</strong></a> -
          <small>05.2018 - Today</small><br>
          <span>Front-End Developer</span>
        </li>
        <li>
          <a href="https://look.agency/"><strong>Agency Look</strong></a> -
          <small>04.2017 - 05.2018</small><br>
          <span>Front-End Developer</span>
        </li>
        <li>
          <a href="https://www.playanka.com/"><strong>Playanka</strong></a> -
          <small>01.2016 - 03.2017</small><br>
          <span>UI & Front-End Developer</span>
        </li>
        <li>
          <strong>Turkiyemix</strong> -
          <small>06.2014 - 01.2016</small><br>
          <span>Intern & Web Developer</span>
        </li>
      </ul>
      <h2>Interests</h2>
      <p>I enjoy cycling, traveling and reading articles about countries.</p>
      <p>Currently I live in {{metadata.personal.city}}. Please feel free to get in touch.</p>
    </section>
    <footer class="article__footer">
      {% include 'components/social-meta.njk' %}
    </footer>
  </article>
  {% include "components/photo-grid.njk" %}
</div>
