---
layout: layouts/base.njk
permalink: /contact/
title: Contact Me
eleventyNavigation:
  key: Contact
  order: 3
  excerpt: Now it’s your turn to say hi. I hope to hear from you!
---
<div class="container container-subpage">
  <article class="article">
    <header class="article-header">
      <h1 class="article-title">{{ title }}</h1>
    </header>
    <section class="article__content">
      <p>Hi, it’s nice to meet you!</p>
      <p>Pop me an email at <a href="mailto:{{ metadata.author.email }}">{{ metadata.author.email }}</a> or give me a shout on social media.</p>
      <p>I might not tweet often but I’m always checking my timeline. Send a dm, a tweet, whatever works.</p>
      <p>I’m also available for freelance front-end development projects.</p>
    </section>
    <footer class="article__footer">
      {% include 'components/social-meta.njk' %}
    </footer>
  </article>
</div>
