---
layout: layouts/home.njk
---
{% include "components/hero.njk" %}
{% include "components/featured-works.njk" %}
{% include "components/skillset.njk" %}
{% include "components/clients.njk" %}
{% include "components/latest-blog-posts.njk" %}
{% include "components/gallery.njk" %}
