---
layout: layouts/base.njk
permalink: /uses/
title: My Desk
eleventyNavigation:
  key: My Desk
  order: 7
  excerpt: Uses page for curious developers / humans.
---
<div class="container container-subpage">
  <article class="article">
    <header class="article-header">
      <h1 class="article-title">{{ title }}</h1>
    </header>
    <section class="article__content">
      <h2>Hardware</h2>
      <ul>
        <li><a href="https://www.amazon.com/LG-Electronics-23MP55HQ-P-23-Inch-Monitor/dp/B00HWHVNK0" target="_blank" rel="noreferrer"><strong>23" LG 23MP55HQ</strong></a> Monitor</li>
        <li><a href="https://www.hepsiburada.com/hp-envy-15-ep0007nt-intel-core-i7-10750h-32gb-1tb-ssd-gtx-1660ti-freedos-15-6-fhd-tasinabilir-bilgisayar-284m1ea-pm-HB000012JBG6" target="_blank" rel="noreferrer"><strong>HP Envy i7 EP0007NT</strong></a> 32GB i7 Notebook</li>
        <!--<li><a href="https://www.hepsiburada.com/hp-15-ay113nt-intel-core-i7-7500u-8gb-256gb-ssd-r7-m440-freedos-15-6-tasinabilir-bilgisayar-y7y90ea-pm-HB0000024LDB" target="_blank" rel="noreferrer"><strong>HP 15-AY113NT</strong></a> 8GB i7 Notebook (Personal)</li>-->
        <li><a href="https://www.hepsiburada.com/huawei-p20-lite-64-gb-huawei-turkiye-garantili-pm-HB00000BAFY7" target="_blank" rel="noreferrer"><strong>Huawei P20 Lite</strong></a> Phone</li>
        <li><a href="https://www.amazon.com/HUAWEI-Unlocked-Globally-Original-Huawei/dp/B07KXHVBJZ" target="_blank" rel="noreferrer"><strong>Huawei B618 4G</strong></a> Modem</li>
        <li><a href="https://www.amazon.com/Microsoft-Comfort-Curve-Keyboard-2000/dp/B0009ZBRS0" target="_blank" rel="noreferrer"><strong>Microsoft Comfort Curve 200</strong></a> Keyboard</li>
        <li><a href="https://www.amazon.com/Microsoft-Sculpt-Mobile-Mouse-43U-00001/dp/B00C7D0IXW/ref=sr_1_20?crid=3VG7OWUIHV19H&dchild=1&keywords=microsoft+sculpt+mouse&qid=1599398635&sprefix=microsoft+sculpt+%2Caps%2C315&sr=8-20" target="_blank" rel="noreferrer"><strong>Microsoft Sculpt Mobile 43U</strong></a> Mouse</li>
        <li><a href="https://www.ikea.com.tr/en/catalog/home-office/desks-and-tables/desks/49932670/linnmonadils-desk.aspx" target="_blank" rel="noreferrer"><strong>Ikea LINNMON/ADILS</strong></a> Black Deck</li>
        <li><a href="https://www.ikea.com.tr/en/catalog/home-office/chairs/20339420/renberget-swivel-chair-with-armrests.aspx" target="_blank" rel="noreferrer"><strong>Ikea RENBERGET</strong></a> Chair</li>
      </ul>
      <h2>Making & Delivering Software</h2>
      <ul>
        <li><strong>Webstorm</strong> is my current IDE & Editor with default settings.</li>
        <li>My main browser is <strong>Firefox</strong>. I use Google Chrome for mobile tests.</li>
        <li><strong>Notepad++</strong> is for taking notes.</li>
        <li>Netlify</li>
        <li>Eleventy</li>
        <li>I use <strong>GitHub</strong> for personal projects, GitLab for my 9-6 job and Bitbucket for freelance projects.</li>
        <li>I'm not command line fan. I use <strong>Sourcetree</strong>.</li>
      </ul>
      <h2>Productivity</h2>
      <ul>
        <li>Google Calendar</li>
        <li>Google Keep</li>
        <li>Google Drive</li>
        <li>Microsoft OneNote</li>
      </ul>
    </section>
  </article>
</div>
