---
layout: layouts/base.njk
permalink: /resources/
title: Sosyal Medya İçin Paylaşım Görselleri
description: Figma ile hazırlanmış, sosyal medya hesaplarında post ve story olarak paylaşabileceğiniz içerikler. İndirebilir ve düzenleyebilirsiniz.
eleventyNavigation:
  key: Resources
  order: 9
  excerpt: Editable social media story files in Turkish.
---
<div class="section">
  <div class="container">
    <div class="section-inner">
      <header class="section-header">
        <h1 class="section-title">{{ title }}</h1>
        <p class="section-description">{{ description }}</p>
      </header>

      <div class="photo-grid">
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-8.jpg" alt="bozkırın tezenesi, eşsiz sanatçı, gönül insanı.... Neşet ertaş" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-18.jpg" alt="23 nisan ulusal egemenlik ve çocuk bayramı kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-7.jpg" alt="30 ağustos zafer bayramımız kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-10.jpg" alt="4 eylül 1919 sivas kongresi" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-20.jpg" alt="1 Mayıs İşçi Bayramı" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-2.jpg" alt="Ramazan-i şerifimiz mübarek olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-13.jpg" alt="24 kasım öğretmenler günü kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-9.jpg" alt="29 ekim cumhuriyet bayramımız kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-14.jpg" alt="18 mart çanakkale zaferi kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-1.jpg" alt="anneler günü kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-3.jpg" alt="avukatlar günü kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-4.jpg" alt="mevlid kandili mübarek olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-5.jpg" alt="hayatı paylaşabilmemiz için hiçbir engel yok" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-6.jpg" alt="14 mart tıp bayramı kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-11.jpg" alt="berat gecesi mübarek olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-12.jpg" alt="miraç kandili kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-15.jpg" alt="kurban bayramı kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-16.jpg" alt="nevruz bayramı kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-17.jpg" alt="polis haftası kutlu olsun" loading="lazy"></figure>
        <figure><img src="{{metadata.assets.img}}resources/social-media-post-19.jpg" alt="her şey çok güzel olacak" loading="lazy"></figure>
      </div>

    </div>
  </div>
</div>

<div class="section section-boxed">
  <div class="container">
    <div class="section-inner">
      <article class="article">
        <div class="article__content text-center">
          <p>Tüm dosyaları ve daha fazlasını aşağıdaki butondan Figma formatında indirebilir, düzenleyebilir ve kullanabilirsiniz.</p>
          <a href="https://www.figma.com/community/file/963520970690039585/Sosyal-Medya-Paylasimlari" class="button-2 button-lg button-block">Dosyaları İndir</a>
        </div>
      </article>
    </div>
  </div>
</div>

