---
templateClass: course
layout: layouts/base.njk
permalink: /russian-turkish/
title: Russian - Turkish Course
description: My Russian learning journey.
eleventyNavigation:
  key: Russian - Turkish Course
  order: 8
  excerpt: My Russian learning journey.
---

<!--
<aside>
  <div class="section">
    <div class="container">
      <div class="section-inner section-grid">
        <ul class="menu" data-direction="column">
          <li class="menu__item active">
            <a href="/">All<span class="count">45</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Landing Page<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Website<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Mobile App<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">HTML Mail<span class="count">12</span></a>
          </li>
        </ul>
        <ul class="menu" data-direction="column">
          <li class="menu__item active">
            <a href="/">All<span class="count">45</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Landing Page<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Website<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Mobile App<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">HTML Mail<span class="count">12</span></a>
          </li>
        </ul>
        <ul class="menu" data-direction="column">
          <li class="menu__item active">
            <a href="/">All<span class="count">45</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Landing Page<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Website<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">Mobile App<span class="count">8</span></a>
          </li>
          <li class="menu__item">
            <a href="/">HTML Mail<span class="count">12</span></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</aside>
-->

<div class="section">
  <div class="container-sm">
    <div class="section-inner section-grid">
      <header class="section-header">
        <h1 class="section-title">{{ title }}</h1>
        <p class="section-description">{{ description }}</p>
      </header>

      <article class="article__content">
        <h2>Giriş</h2>
        <p>А, Б, В, Г, Д, Е, Ё, Ж, З, И, Й, К, Л, М, Н, О, П, Р, С, Т, У, Ф, Х, Ц, Ч, Ш, Щ, Ъ, Ы, Ь, Э, Ю, Я</p>
        <p>а, б, в, г, д, е, ё, ж, з, и, й, к, л, м, н, о, п, р, с, т, у, ф, х, ц, ч, ш, щ, ъ, ы, ь, э, ю, я</p>
        <p>Rus alfabesinde <strong>toplam 33 harf</strong> bulunur. Bunlar <strong>10 ünlü</strong>, <strong>21 ünsüz</strong> ve <strong>2 işaret</strong> harfi olarak gruplandırılır.</p>
        <p>А, О, У, Ы, Э -> Sert ünlü harfler <br>
          Я, Ё, Ю, И, Е -> Yumuşak ünlü harfler
        </p>
        <p>Е, Ё, Ю, ve Я harfleri kelimenin başında daima iki sesli okunur. (ye, yo, yu, ya)</p>
        <ul>
          <li>Й + Э = <strong>Е</strong> <small>(ye)</small></li>
          <li>Й + О = <strong>Ё</strong> <small>(yo)</small></li>
          <li>Й + У = <strong>Ю</strong> <small>(yu)</small></li>
          <li>Й + А = <strong>Я</strong> <small>(ya)</small></li>
        </ul>

        <h2>е, ё, ю, я harfleri kelimenin ortasında ve sonunda nasıl okunur?</h2>

        <div class="table-responsive">
          <table class="table table-bordered table-hover">
            <caption>Алфавит</caption>
            <thead>
            <tr>
              <th colspan="2" class="text-center">LETTER</th>
              <th>PRONUNCIATION</th>
              <th>TURKISH</th>
              <th>RUSSIAN</th>
              <th>SPELLING ABC</th>
            </tr>
            </thead>
            <tr>
              <th class="text-center">А</th>
              <th class="text-center">а</th>
              <td>a</td>
              <td><em>A</em>nne</td>
              <td><em>A</em>нанас</td>
              <td>Aнна <small>(Anna)</small></td>
            </tr>
            <tr>
              <th class="text-center">Б</th>
              <th class="text-center">б</th>
              <td>be</td>
              <td><em>B</em>aba</td>
              <td><em>Б</em>аба</td>
              <td>Бори́с <small>(Boris)</small></td>
            </tr>
            <tr>
              <th class="text-center">В</th>
              <th class="text-center">в</th>
              <td>ve</td>
              <td><em>V</em>aliz</td>
              <td><em>В</em>аліза</td>
              <td>Васи́лий <small>(Vasily)</small></td>
            </tr>
            <tr>
              <th class="text-center">Г</th>
              <th class="text-center">г</th>
              <td>ge</td>
              <td><em>G</em>az</td>
              <td><em>Г</em>аз</td>
              <td>Григо́рий <small>(Gregory)</small></td>
            </tr>
            <tr>
              <th class="text-center">Д</th>
              <th class="text-center">д</th>
              <td>de</td>
              <td><em>D</em>olap</td>
              <td><em>Д</em>оллар</td>
              <td>Дми́трий <small>(Dmitri)</small></td>
            </tr>
            <tr>
              <th class="text-center">Е</th>
              <th class="text-center">е</th>
              <td>ye</td>
              <td><em>Ye</em>lek / L<em>e</em>ylek</td>
              <td><em>Е</em>нот</td>
              <td>Елена <small>(Yelena)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ё</th>
              <th class="text-center">ё</th>
              <td>yo</td>
              <td><em>Yo</em>ğurt / K<em>ö</em>le</td>
              <td><em>Ё</em>ж</td>
              <td>Елена <small>(Yelena)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ж</th>
              <th class="text-center">ж</th>
              <td>je</td>
              <td><em>J</em>el</td>
              <td><em>Ж</em>ирафа</td>
              <td>Же́ня <small>(Zhenya)</small></td>
            </tr>
            <tr>
              <th class="text-center">З</th>
              <th class="text-center">з</th>
              <td>ze</td>
              <td><em>Z</em>il</td>
              <td><em>З</em>оопарк</td>
              <td>Зинаи́да <small>(Zinaida)</small></td>
            </tr>
            <tr>
              <th class="text-center">И</th>
              <th class="text-center">и</th>
              <td>i</td>
              <td><em>İ</em>ncil</td>
              <td><em>И</em>ндия</td>
              <td>Ива́н <small>(Ivan)</small></td>
            </tr>
            <tr>
              <th class="text-center">Й</th>
              <th class="text-center">й</th>
              <td>iy</td>
              <td>To<em>y</em></td>
              <td>То<em>й</em>ота</td>
              <td>Ива́н кра́ткий <small>(Ivan kratkiy)</small></td>
            </tr>
            <tr>
              <th class="text-center">К</th>
              <th class="text-center">к</th>
              <td>ka</td>
              <td><em>K</em>alem</td>
              <td><em>К</em>рокодил</td>
              <td>Константи́н <small>(Konstantin)</small></td>
            </tr>
            <tr>
              <th class="text-center">Л</th>
              <th class="text-center">л</th>
              <td>el</td>
              <td><em>L</em>ale</td>
              <td><em>Л</em>уцк</td>
              <td>Леони́д <small>(Leonid)</small></td>
            </tr>
            <tr>
              <th class="text-center">М</th>
              <th class="text-center">м</th>
              <td>em</td>
              <td><em>M</em>asa</td>
              <td><em>М</em>ама</td>
              <td>Михаи́л <small>(Mikhail)</small></td>
            </tr>
            <tr>
              <th class="text-center">Н</th>
              <th class="text-center">н</th>
              <td>en</td>
              <td><em>N</em>ane</td>
              <td><em>Н</em>аталья</td>
              <td>Никола́й <small>(Nikolai)</small></td>
            </tr>
            <tr>
              <th class="text-center">О</th>
              <th class="text-center">о</th>
              <td>o</td>
              <td><em>O</em>da</td>
              <td><em>О</em>гурец</td>
              <td>О́льга <small>(Olga)</small></td>
            </tr>
            <tr>
              <th class="text-center">П</th>
              <th class="text-center">п</th>
              <td>pe</td>
              <td><em>P</em>ara</td>
              <td><em>П</em>апа</td>
              <td>Па́вел <small>(Pavel)</small></td>
            </tr>
            <tr>
              <th class="text-center">Р</th>
              <th class="text-center">р</th>
              <td>er</td>
              <td><em>R</em>uh</td>
              <td><em>Р</em>ыба</td>
              <td>Рома́н <small>(Roman)</small></td>
            </tr>
            <tr>
              <th class="text-center">С</th>
              <th class="text-center">с</th>
              <td>es</td>
              <td><em>S</em>es</td>
              <td><em>С</em>лон</td>
              <td>Семён <small>(Semyon)</small></td>
            </tr>
            <tr>
              <th class="text-center">Т</th>
              <th class="text-center">т</th>
              <td>te</td>
              <td><em>T</em>at</td>
              <td><em>Т</em>елефон</td>
              <td>Татья́на <small>(Tatyana)</small></td>
            </tr>
            <tr>
              <th class="text-center">У</th>
              <th class="text-center">у</th>
              <td>u</td>
              <td><em>U</em>n</td>
              <td><em>У</em>читель</td>
              <td>Улья́на <small>(Ulyana)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ф</th>
              <th class="text-center">ф</th>
              <td>ef</td>
              <td>Ka<em>f</em>e</td>
              <td>Каe<em>ф</em>е</td>
              <td>Фёдор <small>(Fyodor)</small></td>
            </tr>
            <tr>
              <th class="text-center">Х</th>
              <th class="text-center">х</th>
              <td>ha</td>
              <td><em>H</em>ayal</td>
              <td><em>Х</em>ата</td>
              <td>Харито́н <small>(Khariton)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ц</th>
              <th class="text-center">ц</th>
              <td>tse</td>
              <td>Boo<em>ts</em></td>
              <td>Лу<em>ц</em>к</td>
              <td>ца́пля <small>(Tsaplya)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ч</th>
              <th class="text-center">ч</th>
              <td>çe</td>
              <td><em>Ç</em>ay</td>
              <td><em>Ч</em>асы</td>
              <td>челове́к <small>(Chelovek)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ш</th>
              <th class="text-center">ш</th>
              <td>şa</td>
              <td><em>Ş</em>arkı</td>
              <td><em>Ш</em>апка</td>
              <td>Шу́ра <small>(Shura)</small></td>
            </tr>
            <tr>
              <th class="text-center">Щ</th>
              <th class="text-center">щ</th>
              <td>şça</td>
              <td>İ<em>şç</em>i</td>
              <td>Бор<em>щ</em></td>
              <td>щу́ка <small>(Shchuka)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ъ</th>
              <th class="text-center">ъ</th>
              <td>tviordiy znak</td>
              <td>Sert İşareti</td>
              <td>С<em>ъ</em>ем</td>
              <td>-</td>
            </tr>
            <tr>
              <th class="text-center">Ы</th>
              <th class="text-center">ы</th>
              <td>ı</td>
              <td><em>I</em>spanak</td>
              <td>Б<em>ы</em>ть</td>
              <td>еры́ <small>(Yery)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ь</th>
              <th class="text-center">ь</th>
              <td>miahkiy znak</td>
              <td>Yumuşak İşareti</td>
              <td>Быт<em>ь</em></td>
              <td>-</td>
            </tr>
            <tr>
              <th class="text-center">Э</th>
              <th class="text-center">э</th>
              <td>e</td>
              <td><em>E</em>lbise</td>
              <td><em>Э</em>кспресс</td>
              <td>э́хо <small>(echo)</small></td>
            </tr>
            <tr>
              <th class="text-center">Ю</th>
              <th class="text-center">ю</th>
              <td>yu</td>
              <td><em>Yu</em>va / K<em>ü</em>l</td>
              <td><em>Ю</em>туб</td>
              <td>Ю́рий <small>(Yuri)</small></td>
            </tr>
            <tr>
              <th class="text-center">Я</th>
              <th class="text-center">я</th>
              <td>ya</td>
              <td><em>Ya</em>ğmur / <em>Ya</em>sin</td>
              <td>Яблоко</td>
              <td>Я́ков <small>(Yakov)</small></td>
            </tr>
          </table>
        </div>

      </article>
    </div>
  </div>
</div>


