---
layout: layouts/base.njk
permalink: /travel-checklist/
title: Printable Travel Checklist
description: Are you looking for a simple yet effective packing list? You've come to the right place. I've organized all the things you may need on your trip.
---

<div class="section">
  <div class="container-sm">
    <div class="section-inner">
      <header class="section-header">
        <h1 class="section-title">{{ title }}</h1>
        <p class="section-description">{{ description }}</p>
      </header>

      <form action="">
        <div class="travel-checklist">
          <fieldset>
            <legend>Essentials</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Passport / Visa">
                      <span class="form-label">Passport / Visa</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="ID Card / Driver’s License">
                      <span class="form-label">ID Card / Driver’s License</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Boarding Passes">
                      <span class="form-label">Boarding Passes</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Confirmation Receipts <small>(printed or electronic) (hotel, train, bus, rental car, event tickets)</small>">
                      <span class="form-label">Confirmation Receipts <small>(printed or electronic) (hotel, train, bus, rental car, event tickets)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Emergency Docs">
                      <span class="form-label">Emergency Docs</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Wallet">
                      <span class="form-label">Wallet</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Credit Cards">
                      <span class="form-label">Credit Cards</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Cash">
                      <span class="form-label">Cash</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Cell Phone + Charger">
                      <span class="form-label">Cell Phone + Charger</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Keys">
                      <span class="form-label">Keys</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Glasses / Contact Lenses">
                      <span class="form-label">Glasses / Contact Lenses</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="essentials" value="Rx Medication">
                      <span class="form-label">Rx Medication</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Toiletries</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="toiletries" value="Toothbrush & Toothpaste">
                      <span class="form-label">Toothbrush & Toothpaste</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="toiletries" value="Deodorant">
                      <span class="form-label">Deodorant</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="toiletries" value="Eye Drops / Contact Solution">
                      <span class="form-label">Eye Drops / Contact Solution</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Electronics</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Headphones/Earbuds">
                      <span class="form-label">Headphones/Earbuds</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="All Chargers <small>(Powerbank)</small>">
                      <span class="form-label">All Chargers <small>(Powerbank)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Adapters / Converters">
                      <span class="form-label">Adapters / Converters</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Camera">
                      <span class="form-label">Camera</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Laptop">
                      <span class="form-label">Laptop</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="E-Reader">
                      <span class="form-label">E-Reader</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Offline Music <small>Spotify, Apple Music or YouTube Music etc...</small>">
                      <span class="form-label">Offline Music <small>Spotify, Apple Music or YouTube Music etc...</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Offline Map / Navigation <small>Google Maps, Yandex.Maps Maps.Me</small>">
                      <span class="form-label">Offline Map / Navigation <small>Google Maps, Yandex.Maps Maps.Me</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="electronics" value="Entertainment Apps  <span>(Netflix, Offline Games)</span>">
                      <span class="form-label">Entertainment Apps  <span>(Netflix, Offline Games)</span></span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Clothing</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="T-shirts">
                      <span class="form-label">T-shirts</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Jeans">
                      <span class="form-label">Jeans</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Shorts">
                      <span class="form-label">Shorts</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Underwear">
                      <span class="form-label">Underwear</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Socks">
                      <span class="form-label">Socks</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Bras">
                      <span class="form-label">Bras</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Plastic Bags">
                      <span class="form-label">Plastic Bags  <small>(for dirty clothes, used stuff that you can't throw away..)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Pants">
                      <span class="form-label">Pants</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Dresses">
                      <span class="form-label">Dresses</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Skirts">
                      <span class="form-label">Skirts</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Sweaters">
                      <span class="form-label">Sweaters</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Outerwear <small>(Coat/Jacket)</small>">
                      <span class="form-label">Outerwear<small>(Coat/Jacket)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Swimwear & Cover-Ups">
                      <span class="form-label">Swimwear & Cover-Ups</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="clothing" value="Shoes <small>(Heels, Sandals, Boots etc..)</small>">
                      <span class="form-label">Shoes <small>(Heels, Sandals, Boots etc..)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Accessories</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Sunglasses">
                      <span class="form-label">Sunglasses</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Watch">
                      <span class="form-label">Watch</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Jewelry">
                      <span class="form-label">Jewelry</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Belts">
                      <span class="form-label">Belts</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Scarf">
                      <span class="form-label">Scarf</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Hat">
                      <span class="form-label">Hat</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="accessories" value="Purses">
                      <span class="form-label">Purses</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Personal Comfort</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="personal-comfort" value="Neck Pillow">
                      <span class="form-label">Neck Pillow</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="personal-comfort" value="Book / Magazines">
                      <span class="form-label">Book / Magazines</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="personal-comfort" value="Water Bottle">
                      <span class="form-label">Water Bottle</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="personal-comfort" value="Pen & Notebook">
                      <span class="form-label">Pen & Notebook</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Health & Beauty</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="health-beauty" value="Basic Medications <small>(headache, allergy, stomach u pset, motion sickness, sleep aid)</small>">
                      <span class="form-label">Basic Medications <small>(headache, allergy, stomach u pset, motion sickness, sleep aid)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="health-beauty" value="Basic First Aid  <small>(band-aids, antibiotic ointment)</small>">
                      <span class="form-label">Basic First Aid  <small>(band-aids, antibiotic ointment)</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="health-beauty" value="Makeup">
                      <span class="form-label">Makeup</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="health-beauty" value="Perfume / Cologne">
                      <span class="form-label">Perfume / Cologne</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="health-beauty" value="Feminine Care Items">
                      <span class="form-label">Feminine Care Items</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="health-beauty" value="Birth Control">
                      <span class="form-label">Birth Control</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Before Leaving</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Check your checklist">
                      <span class="form-label">Check your checklist</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Be sure you paid your bills <small>or set up an automatic payment</small>">
                      <span class="form-label">Be sure you paid your bills <small>or set up an automatic payment</small></span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Lock the doors / windows">
                      <span class="form-label">Lock the doors / windows</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Arrange for care of pets, lawn, and plants">
                      <span class="form-label">Arrange for care of pets, lawn, and plants</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Empty refrigerator of this that will expire">
                      <span class="form-label">Empty refrigerator of this that will expire</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Unplug appliances">
                      <span class="form-label">Unplug appliances</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Turn off heater/air conditioner">
                      <span class="form-label">Turn off heater/air conditioner</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Turn down water heater">
                      <span class="form-label">Turn down water heater</span>
                    </label>
                  </div>
                </td>
              </tr>
              <tr>
                <td>
                  <div class="check-1">
                    <label>
                      <input type="checkbox" name="before-leaving" value="Leave house key and itineraries with a trusted friend.">
                      <span class="form-label">Leave house key and itineraries with a trusted friend.</span>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
          <fieldset>
            <legend>Extra</legend>
            <table class="table bg-pure table-hover">
              <tr>
                <td>
                  <div class="input-1">
                    <label>
                      <span class="form-label">Additional Travel Notes</span>
                      <textarea name="notes"></textarea>
                    </label>
                  </div>
                </td>
              </tr>
            </table>
          </fieldset>
        </div>
      </form>

      <div class="section-footer">
        <button type="button" class="button-1 button-print" onclick="window.print()">Print / Download</button>
      </div>
    </div>
  </div>
</div>
