---
layout: layouts/base.njk
permalink: /upload/
title: Upload
eleventyNavigation:
  key: Upload
  order: 2
  excerpt: Uploaded Files
----
<div class="section">
  <div class="container">
    <div class="section-inner">
      <header class="section-header">
        <h1 class="section-title">{{ title }}</h1>
        <p class="section-description">{{ description }}</p>
      </header>
      <ul class="card-list">
        <li class="card-list__item">
          <a href="../assets/upload/i-can-fly.jpg" target="_blank" rel="noreferrer">
            <span class="card-list__title">I Can Fly</span>
          </a>
        </li>
        <li class="card-list__item">
          <a href="../assets/upload/red-snow-church.jpg" target="_blank" rel="noreferrer">
            <span class="card-list__title">Red Snow Church</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
